* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #333b41;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Light.woff2") format("woff2"), url("../../assets/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Bold.woff2") format("woff2"), url("../../assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Medium.woff2") format("woff2"), url("../../assets/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.woff2") format("woff2"), url("../../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Thin.woff2") format("woff2"), url("../../assets/fonts/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icons";
  src: url("../../assets/iconsfont/icons.eot?z61rwy");
  src: url("../../assets/iconsfont/icons.eot?z61rwy#iefix") format("embedded-opentype"), url("../../assets/iconsfont/icons.ttf?z61rwy") format("truetype"), url("../../assets/iconsfont/icons.woff?z61rwy") format("woff"), url("../../assets/iconsfont/icons.svg?z61rwy#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-curved-arrow::before {
  content: "\e908";
}

._icon-x::before {
  content: "\e900";
}

._icon-hollow-arrow::before {
  content: "\e901";
}

._icon-facebook::before {
  content: "\e902";
}

._icon-instagram::before {
  content: "\e903";
}

._icon-twitter::before {
  content: "\e904";
  font-size: 14px;
}

._icon-youtube::before {
  content: "\e905";
  font-size: 13px;
}

._icon-dollar::before {
  content: "\e906";
}

._icon-bamboo::before {
  content: "\e907";
}

html._menu-open, html._popup-open {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (max-width: 1000px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media screen and (max-width: 640px) {
  [class*=__container] {
    max-width: 630px;
  }
}
@media screen and (max-width: 320px) {
  [class*=__container] {
    max-width: 320px;
    padding: 0 11px;
  }
}

[class*=_ibg] {
  position: relative;
}
[class*=_ibg] img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.feed__button, .pets__button, .watch__button {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 298px;
  padding: 16px 16px 16px 20px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 639.98px) {
  .feed__button, .pets__button, .watch__button {
    min-width: 250px;
  }
}
@media screen and (max-width: 320px) {
  .feed__button, .pets__button, .watch__button {
    min-width: 298px;
  }
}
.feed__button::before, .pets__button::before, .watch__button::before, .feed__button::after, .pets__button::after, .watch__button::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  content: "";
}
.feed__button::before, .pets__button::before, .watch__button::before {
  background-color: #e47209;
  transition: background-color 0.3s ease 0s;
}
.feed__button::after, .pets__button::after, .watch__button::after {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  opacity: 1;
  transition: opacity 0.3s ease 0s;
}
.feed__button:hover::after, .pets__button:hover::after, .watch__button:hover::after {
  opacity: 0;
}
.feed__button:active::before, .pets__button:active::before, .watch__button:active::before {
  background-color: #4b9200;
  transition: background-color 0s ease 0s;
}
.feed__button:disabled, .pets__button:disabled, .watch__button:disabled {
  cursor: default;
}
.feed__button:disabled::before, .pets__button:disabled::before, .watch__button:disabled::before {
  background-color: #767474;
}
.feed__button:disabled::after, .pets__button:disabled::after, .watch__button:disabled::after {
  opacity: 0;
}

.testimonials__button, .footer__button {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 298px;
  padding: 16px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  color: #ffffff;
}
.testimonials__button::before, .footer__button::before, .testimonials__button::after, .footer__button::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  content: "";
}
.testimonials__button::before, .footer__button::before {
  background-color: #e47209;
  transition: background-color 0.3s ease 0s;
}
.testimonials__button::after, .footer__button::after {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  opacity: 1;
  transition: opacity 0.3s ease 0s;
}
.testimonials__button:hover::after, .footer__button:hover::after {
  opacity: 0;
}
.testimonials__button:active::before, .footer__button:active::before {
  background-color: #4b9200;
  transition: background-color 0s ease 0s;
}
.testimonials__button:disabled, .footer__button:disabled {
  cursor: default;
}
.testimonials__button:disabled::before, .footer__button:disabled::before {
  background-color: #767474;
}
.testimonials__button:disabled::after, .footer__button:disabled::after {
  opacity: 0;
}

.form-footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 129px;
  padding: 8px 10px;
  line-height: 140%;
  color: #d31414;
  background-color: #f1f3f2;
  border: 1px solid #d31414;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
form:valid .form-footer__button {
  color: #000000;
  border-color: #333b41;
}
form:valid .form-footer__button:active {
  color: #4b9200;
  border-color: #4b9200;
  transition: all 0s ease 0s;
}
.form-footer__button:active {
  color: #4b9200;
  border-color: #4b9200;
  transition: all 0s ease 0s;
}

.pets__swipe-to-left, .pets__swipe-to-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
}
.pets__swipe-to-left::before, .pets__swipe-to-right::before, .pets__swipe-to-left::after, .pets__swipe-to-right::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
}
.pets__swipe-to-left::before, .pets__swipe-to-right::before {
  background-color: #4b9200;
}
.pets__swipe-to-left::after, .pets__swipe-to-right::after {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
.pets__swipe-to-left:active::after, .pets__swipe-to-right:active::after {
  opacity: 0;
}

.close-button {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-right: -2px;
  margin-left: auto;
  padding: 2px 2px 5px 2px;
}
.close-button__line {
  position: relative;
  top: 0;
  bottom: 0;
  flex: 0 0 2px;
  width: 18px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 2px;
  transition: all 0.3s ease 0s;
  background-color: #fe9013;
}
.close-button__line:first-child {
  top: 4px;
  bottom: -4px;
  transform: rotate(-40deg);
}
.close-button__line:nth-child(2) {
  transform: scale(0);
}
.close-button__line:last-child {
  top: -4px;
  bottom: 4px;
  transform: rotate(40deg);
}

.popup-button {
  position: fixed;
  top: -8px;
  right: -26px;
  z-index: 99;
  width: 14px;
  height: 14px;
  background: url("/assets/icons/x-icon.svg") center/cover no-repeat;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 400px) {
  .popup-button {
    right: -16px;
  }
}

.footer__main-link, .header__main-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  min-height: 52px;
  padding-top: 2.55px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  -webkit-background-clip: text;
          background-clip: text;
  transition: color 0.3s ease 0s;
}
.footer__main-link:hover, .header__main-link:hover {
  color: rgba(255, 255, 255, 0);
}
.footer__main-link::before, .header__main-link::before {
  position: absolute;
  left: 13.2073170732%;
  bottom: 16.9038461538%;
  color: #ffffff;
  transform: scale(1.2);
}
@media screen and (max-width: 640px) {
  .footer__main-link, .header__main-link {
    width: 46px;
    min-height: 29px;
    padding: 0;
    border: none;
  }
  .footer__main-link::before, .header__main-link::before {
    left: 8.6956521739%;
    bottom: 13.7931034483%;
    font-weight: 300;
    font-size: 11px;
  }
}

.footer__logo, .header__logo {
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .footer__logo, .header__logo {
    font-weight: 300;
    font-size: 12px;
  }
}

.footer__link, .header__link {
  font-weight: 500;
  line-height: 140%;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  -webkit-background-clip: text;
          background-clip: text;
  transition: color 0.3s ease 0s;
}
.footer__link:hover, .header__link:hover {
  color: rgba(255, 255, 255, 0);
}
._active.footer__link, ._active.header__link {
  color: rgba(255, 255, 255, 0);
  cursor: default;
}
@media screen and (max-width: 640px) {
  .footer__link, .header__link {
    font-weight: 400;
  }
}

.header {
  padding: 14px 0;
  color: #ffffff;
  background-color: #000000;
}
@media screen and (max-width: 1000px) {
  .header {
    background-color: #111115;
  }
  .header::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease 0s;
    content: "";
  }
  ._menu-open .header::before {
    opacity: 1;
  }
  .header._visible::before {
    visibility: visible;
  }
}
@media screen and (max-width: 640px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    padding: 3px 0 2px 0;
  }
}
.header__container {
  display: flex;
  align-items: center;
  gap: 25px 63px;
}
@media screen and (max-width: 640px) {
  .header__container {
    min-height: 29px;
  }
}
._menu-open .header__main-link {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 50;
  width: 66px;
  min-height: 42px;
  color: #fe9013;
  border: 1px solid #fe9013;
}
._menu-open .header__main-link::before {
  bottom: 5.6px;
  left: 7.7px;
  font-size: 14px;
  color: #fe9013;
}
._menu-open .header__logo {
  font-weight: 400;
  font-size: 15px;
}
.header__navigation {
  flex: 1 1 auto;
}
@media screen and (max-width: 640px) {
  .header__navigation {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    transition: top 0.3s ease 0s;
  }
  ._menu-open .header__navigation {
    top: 0;
  }
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 58px;
}
@media screen and (max-width: 1000px) {
  .header__list {
    gap: 15px 48px;
  }
}
@media screen and (max-width: 640px) {
  .header__list {
    flex-direction: column;
    padding: 82px 10px 40px;
    color: #333b41;
    background-color: #ffffff;
  }
}
.header__item:last-child {
  margin-left: auto;
}
@media screen and (max-width: 640px) {
  .header__item:last-child {
    margin-left: 0;
  }
}
.header__menu {
  display: none;
}
@media screen and (max-width: 640px) {
  .header__menu {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-right: -2px;
    margin-left: auto;
    padding: 2px 2px 5px 2px;
  }
}
@media screen and (max-width: 320px) {
  .header__menu {
    padding: 4px 1px 5px 5px;
  }
}
.header__line {
  position: relative;
  top: 0;
  bottom: 0;
  flex: 0 0 2px;
  width: 18px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 2px;
  transition: all 0.3s ease 0s;
}
._menu-open .header__line {
  background-color: #fe9013;
}
._menu-open .header__line:first-child {
  top: 4px;
  bottom: -4px;
  transform: rotate(-40deg);
}
._menu-open .header__line:nth-child(2) {
  transform: scale(0);
}
._menu-open .header__line:last-child {
  top: -4px;
  bottom: 4px;
  transform: rotate(40deg);
}

.footer {
  position: relative;
  z-index: 2;
  padding: 40px 0 50px;
  color: #ffffff;
  background-color: #111115;
}
@media screen and (max-width: 640px) {
  .footer {
    padding: 12px 0 11px;
  }
}
@media screen and (max-width: 639.98px) {
  .footer {
    padding: 20px 0;
  }
}
.footer__container {
  display: grid;
  grid-template-columns: 300px auto 367px;
  align-items: end;
  gap: 36px 32px;
}
@media screen and (max-width: 1599.98px) {
  .footer__container {
    grid-template-columns: 200px auto 285px;
  }
}
@media screen and (max-width: 999.98px) and (min-width: 639.98px) {
  .footer__container {
    grid-template-columns: 351px auto;
    grid-template-rows: 52px;
    gap: 32px 20px;
  }
}
@media screen and (max-width: 639.98px) {
  .footer__container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px 20px;
  }
}
.footer__main-link {
  align-self: start;
  border-width: 0.5px;
  border-color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 640px) {
  .footer__main-link {
    width: 82px;
    min-height: 52px;
    margin: 1px 0 0 1px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .footer__main-link::before {
    left: 13.2073170732%;
    bottom: 16.9038461538%;
    font-size: 15px;
  }
}
@media screen and (max-width: 639.98px) {
  .footer__main-link {
    width: auto;
    min-height: 0;
    margin: 0;
    border: none;
  }
  .footer__main-link::before {
    left: 73px;
    bottom: 7px;
  }
}
@media screen and (max-width: 640px) {
  .footer__logo {
    font-size: 19px;
  }
}
.footer__form {
  grid-column: span 2;
  justify-self: end;
  max-width: 367px;
}
@media screen and (max-width: 1000px) {
  .footer__form {
    margin-right: 32px;
  }
}
@media screen and (max-width: 999.98px) {
  .footer .footer__form {
    display: none;
  }
}
.footer__button {
  z-index: 1;
  grid-column: span 3;
  justify-self: start;
  margin-bottom: 8px;
}
@media screen and (max-width: 999.98px) {
  .footer__button {
    grid-column: span 1;
    align-self: start;
    order: 2;
  }
}
@media screen and (max-width: 639.98px) {
  .footer__button {
    justify-self: center;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 999.98px) and (min-width: 639.98px) {
  .footer__socials {
    grid-row: span 2;
    justify-self: end;
    align-self: start;
    order: 1;
  }
}
@media screen and (max-width: 640px) and (min-width: 639.98px) {
  .footer__socials {
    margin-bottom: 11px;
  }
}
@media screen and (min-width: 999.98px) {
  .footer__navigation {
    justify-self: end;
  }
}
@media screen and (max-width: 999.98px) {
  .footer__navigation {
    order: 3;
  }
}
@media screen and (max-width: 639.98px) {
  .footer__navigation {
    order: 5;
  }
}
.footer__list {
  display: flex;
  align-items: center;
  gap: 20px 58px;
}
@media screen and (max-width: 1000px) {
  .footer__list {
    gap: 20px 48px;
  }
}
@media screen and (max-width: 640px) {
  .footer__list {
    margin-left: 1px;
    gap: 20px 37px;
  }
}
@media screen and (max-width: 639.98px) {
  .footer__list {
    margin-left: 0;
    gap: 20px 30px;
  }
}
@media screen and (max-width: 1000px) {
  .footer__link {
    font-weight: 400;
  }
}
.footer__designer {
  justify-self: end;
  display: grid;
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.footer__designer:hover {
  text-decoration: underline;
}
.footer__designer:active {
  color: #4b9200;
}
@media screen and (max-width: 999.98px) {
  .footer__designer {
    order: 4;
  }
}
@media screen and (max-width: 639.98px) {
  .footer__designer {
    justify-self: center;
  }
}
@media screen and (max-width: 320px) {
  .footer__designer {
    justify-self: end;
    font-size: 15px;
  }
}
.footer__text {
  font-weight: 100;
  line-height: 130%;
}

.form-footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 14px 10px;
}
.form-footer__title {
  grid-column: span 2;
  font-size: 24px;
  line-height: 120%;
}
.form-footer__field {
  width: 228px;
  height: 42px;
  padding: 1px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 2px;
}
.form-footer__field._active {
  background: #4b9200;
}
.form-footer:invalid .form-footer__field {
  background: #d31414;
}
.form-footer:invalid .form-footer__field._default {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
.form-footer__input {
  width: 100%;
  height: 100%;
  padding: 10px;
  line-height: 140%;
  color: inherit;
  background: #111115;
}
.form-footer__input:focus {
  outline: none;
}
.form-footer__input::-moz-placeholder {
  color: #bdbdbd;
}
.form-footer__input:-ms-input-placeholder {
  color: #bdbdbd;
}
.form-footer__input::placeholder {
  color: #bdbdbd;
}
.socials-footer {
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 639.98px) {
  .socials-footer {
    flex-direction: column;
  }
}
@media screen and (max-width: 640px) {
  .socials-footer {
    gap: 20px;
  }
}
@media screen and (max-width: 639.98px) {
  .socials-footer {
    gap: 30px;
  }
}
.socials-footer__link {
  display: flex;
  align-items: flex-end;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.socials-footer__link:hover .socials-footer__text {
  text-decoration: underline;
}
.socials-footer__link:active .socials-footer__icon {
  background-color: #4b9200;
}
.socials-footer__link:active .socials-footer__text {
  text-decoration: none;
  color: #4b9200;
}
.socials-footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  text-decoration: none;
}
.socials-footer__text {
  line-height: 140%;
}
@media screen and (max-width: 640px) {
  .socials-footer__text {
    display: none;
  }
}

.header {
  z-index: 2;
}
@media screen and (max-width: 640px) {
  .header {
    z-index: 20;
  }
}

.main__watch {
  margin-top: -80px;
  margin-bottom: 140px;
}
@media screen and (max-width: 1000px) {
  .main__watch {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 640px) {
  .main__watch {
    margin-top: 0;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 320px) {
  .main__watch {
    margin-bottom: 30px;
  }
}
.main__backstage {
  position: relative;
  margin-bottom: 179px;
}
@media screen and (max-width: 1000px) {
  .main__backstage {
    margin-bottom: 142px;
  }
}
@media screen and (max-width: 640px) {
  .main__backstage {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 320px) {
  .main__backstage {
    margin-bottom: 40px;
  }
}
.main__backstage::before {
  position: absolute;
  top: -128px;
  right: 0;
  width: 13%;
  height: 152.1091811414%;
  max-width: 208px;
  max-height: 613px;
  background: url("../../assets/images/backstage/flower-decor.png") center right/contain no-repeat;
  content: "";
}
@media screen and (max-width: 1599.98px) {
  .main__backstage::before {
    display: none;
  }
}
@media screen and (max-width: 999.98px) {
  .main__backstage::before {
    top: -65px;
    right: -103px;
    display: block;
    width: 35.9375%;
    height: 128.0653950954%;
    max-width: 230px;
    max-height: 470px;
    background-position: center left;
  }
}
@media screen and (max-width: 640px) {
  .main__backstage::before {
    width: 36.5625%;
    height: 131.6076294278%;
    max-width: 234px;
    max-height: 483px;
  }
}
@media screen and (max-width: 639.98px) {
  .main__backstage::before {
    top: -66px;
    right: -73px;
    width: 32.8125%;
    height: 56.7010309278%;
    max-width: 105px;
    max-height: 220px;
  }
}
.main__pets {
  position: relative;
  margin-bottom: 100px;
}
@media screen and (max-width: 1599.98px) {
  .main__pets {
    margin-bottom: 140px;
  }
}
@media screen and (max-width: 640px) {
  .main__pets {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 320px) {
  .main__pets {
    margin-bottom: 60px;
  }
}
.main__pets::before, .main__pets::after {
  position: absolute;
  bottom: -100px;
  content: "";
}
@media screen and (max-width: 1599.98px) {
  .main__pets::before, .main__pets::after {
    bottom: -140px;
  }
}
@media screen and (max-width: 640px) {
  .main__pets::before, .main__pets::after {
    bottom: -100px;
  }
}
@media screen and (max-width: 320px) {
  .main__pets::before, .main__pets::after {
    bottom: -60px;
  }
}
.main__pets::before {
  left: 0;
  max-width: 292px;
  max-height: 460px;
  width: 25.1724137931%;
  height: 45.4995054402%;
  background: url("../../assets/images/pets/palm-decor.png") bottom left/contain no-repeat;
}
@media screen and (max-width: 1599.98px) {
  .main__pets::before {
    max-width: 195px;
    max-height: 203px;
    width: 20.7446808511%;
    height: 21.5957446809%;
    background: url("../../assets/images/pets/palm-decor-small.png") bottom left/contain no-repeat;
  }
}
@media screen and (max-width: 640px) {
  .main__pets::before {
    left: -59px;
    max-width: 193px;
    max-height: 220px;
    width: 30.15625%;
    height: 25.2873563218%;
  }
}
@media screen and (max-width: 400px) {
  .main__pets::before {
    left: -11px;
    max-width: 69px;
    max-height: 83px;
    width: 21.5625%;
    height: 5.6810403833%;
  }
}
.main__pets::after {
  right: 0;
  max-width: 368px;
  max-height: 275px;
  width: 31.724137931%;
  height: 27.2007912957%;
  background: url("../../assets/images/pets/strelitzia-decor.png") bottom right/contain no-repeat;
}
@media screen and (max-width: 1599.98px) {
  .main__pets::after {
    max-width: 242px;
    max-height: 181px;
    width: 25.7446808511%;
    height: 19.2553191489%;
  }
}
@media screen and (max-width: 640px) {
  .main__pets::after {
    max-width: 175px;
    max-height: 131px;
    width: 27.34375%;
    height: 15.0574712644%;
  }
}
@media screen and (max-width: 400px) {
  .main__pets::after {
    right: -21px;
    margin-bottom: -4px;
    max-width: 94px;
    max-height: 80px;
    width: 29.375%;
    height: 5.4757015743%;
  }
}
.main__feed {
  margin-bottom: 140px;
}
@media screen and (max-width: 1000px) {
  .main__feed {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 640px) {
  .main__feed {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 320px) {
  .main__feed {
    margin-bottom: 30px;
  }
}
.main__testimonials {
  position: relative;
  margin-bottom: 180px;
}
@media screen and (max-width: 1000px) {
  .main__testimonials {
    margin-bottom: 140px;
  }
}
@media screen and (max-width: 640px) {
  .main__testimonials {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 320px) {
  .main__testimonials {
    margin-bottom: 60px;
  }
}
.main__testimonials::before {
  position: absolute;
  right: 0;
  bottom: -317px;
  width: 21.5517241379%;
  height: 68.5618729097%;
  max-width: 250px;
  max-height: 410px;
  background: url("../../assets/images/testimonials/leaf-decor.png") right center/contain no-repeat;
  content: "";
}
@media screen and (max-width: 1000px) {
  .main__testimonials::before {
    bottom: -225px;
    width: 20.9574468085%;
    height: 53.9101497504%;
    max-width: 197px;
    max-height: 324px;
  }
}
@media screen and (max-width: 640px) {
  .main__testimonials::before {
    right: -8px;
    bottom: -150px;
    width: 23.90625%;
    height: 38.8257575758%;
    max-width: 153px;
    max-height: 205px;
  }
}
@media screen and (max-width: 320px) {
  .main__testimonials::before {
    right: -8px;
    bottom: -105px;
    width: 19.6875%;
    height: 23.5173824131%;
    max-width: 63px;
    max-height: 115px;
    transform: rotate(-15deg);
  }
}

.watch {
  position: relative;
  padding: 166px 0 100px;
  color: #ffffff;
}
@media screen and (max-width: 1000px) {
  .watch {
    padding: 123px 0 47px;
  }
}
@media screen and (max-width: 640px) {
  .watch {
    padding: 84px 0 40px;
  }
}
@media screen and (max-width: 320px) {
  .watch {
    margin-top: 34px;
    padding: 41px 0 0;
  }
}
.watch__container {
  display: flex;
}
.watch__content {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 500px;
  justify-content: end;
  gap: 60px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .watch__content {
    grid-template-columns: 400px;
    gap: 41px 50px;
    padding-right: 56px;
  }
}
@media screen and (max-width: 640px) {
  .watch__content {
    grid-template-columns: auto auto;
    align-items: end;
    padding-right: 0;
  }
}
@media screen and (max-width: 639.98px) {
  .watch__content {
    grid-template-columns: 300px;
    gap: 20px;
  }
}
@media screen and (max-width: 320px) {
  .watch__content {
    grid-template-columns: auto;
    justify-items: end;
    gap: 61px;
  }
}
.watch__content::before {
  position: absolute;
  top: -74px;
  right: 108px;
  z-index: -1;
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 50%;
  content: "";
}
@media screen and (max-width: 1000px) {
  .watch__content::before {
    width: 367px;
    height: 367px;
    top: -54px;
    right: 147px;
  }
}
@media screen and (max-width: 640px) {
  .watch__content::before {
    top: -40px;
    right: 52px;
    width: 237px;
    height: 237px;
  }
}
@media screen and (max-width: 320px) {
  .watch__content::before {
    top: -19px;
    right: 27px;
    width: 119px;
    height: 119px;
  }
}
.watch__title {
  font-weight: 700;
  font-size: 106.5px;
  line-height: 75%;
  text-transform: uppercase;
}
@media screen and (max-width: 1000px) {
  .watch__title {
    font-size: 85px;
  }
}
@media screen and (max-width: 640px) {
  .watch__title {
    order: 1;
    margin-right: -4px;
    padding-bottom: 46px;
    font-size: 54px;
  }
}
@media screen and (max-width: 639.98px) {
  .watch__title {
    order: 0;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 320px) {
  .watch__title {
    max-width: 128px;
    margin-right: 0;
    font-size: 28px;
  }
}
.watch__text {
  color: #ffee2e;
}
.watch__button {
  justify-self: center;
  margin-left: 4px;
}
@media screen and (max-width: 1000px) {
  .watch__button {
    margin-left: 0;
  }
}
@media screen and (max-width: 1000px) {
  .watch__button {
    max-width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .watch__image {
    max-height: 71.6475095785%;
  }
}

.backstage__container {
  display: flex;
  gap: 87px;
}
@media screen and (max-width: 1000px) {
  .backstage__container {
    gap: 31px;
  }
}
.backstage__picture {
  align-self: flex-start;
  flex: 1 0 52.5%;
  padding-bottom: 34.7413793103%;
}
@media screen and (max-width: 1599.98px) {
  .backstage__picture {
    flex: 1 0 48.4042553191%;
    margin-top: 9px;
    padding-bottom: 43.4042553191%;
  }
}
@media screen and (max-width: 999.98px) {
  .backstage__picture {
    display: none;
  }
}
@media screen and (max-width: 999.98px) {
  .backstage__content {
    padding-right: 105px;
  }
}
@media screen and (max-width: 639.98px) {
  .backstage__content {
    padding-right: 0;
  }
}
.backstage__title {
  margin-bottom: 21px;
  font-size: 48px;
  line-height: 120%;
}
@media screen and (max-width: 639.98px) {
  .backstage__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 1000px) {
  .backstage__title {
    margin-bottom: 22px;
  }
}
@media screen and (max-width: 640px) {
  .backstage__title {
    padding-left: 4px;
  }
}
@media screen and (max-width: 320px) {
  .backstage__title {
    margin-bottom: 10px;
    margin-left: -1px;
    padding-top: 1px;
    padding-left: 0px;
  }
}
.backstage__description {
  margin-bottom: 54px;
  line-height: 130%;
}
@media screen and (max-width: 640px) {
  .backstage__description {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 320px) {
  .backstage__description {
    margin-bottom: 21px;
    padding-left: 1px;
  }
}
.backstage__subtitle {
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 120%;
}
@media screen and (max-width: 640px) {
  .backstage__subtitle {
    margin-bottom: 20px;
    padding-left: 4px;
  }
}
@media screen and (max-width: 320px) {
  .backstage__subtitle {
    margin-bottom: 10px;
    padding-left: 1px;
  }
}
.backstage__text {
  line-height: 137%;
}
@media screen and (max-width: 320px) {
  .backstage__text {
    margin-left: -1px;
  }
}

.pets__container {
  position: relative;
  display: grid;
  justify-items: center;
  gap: 79px;
}
@media screen and (max-width: 1599.98px) {
  .pets__container {
    gap: 80px;
  }
}
@media screen and (max-width: 640px) {
  .pets__container {
    gap: 60px;
  }
}
@media screen and (max-width: 320px) {
  .pets__container {
    gap: 19px;
  }
}
.pets__content {
  position: relative;
  width: 100%;
}
@media screen and (max-width: 1599.98px) {
  .pets__content {
    overflow: hidden;
  }
}
.pets__slider {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.pets__swiper {
  position: relative;
  display: flex;
  gap: 120px;
  transition: transform 0.3s ease 0s;
}
.pets__slide {
  flex: 0 0 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 30px;
  padding: 0 3px 0 1px;
}
@media screen and (max-width: 1599.98px) {
  .pets__slide {
    gap: 92px 29px;
    padding: 0 2px;
  }
}
@media screen and (max-width: 999.98px) {
  .pets__slide {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 640px) {
  .pets__slide {
    gap: 92px 30px;
    padding: 0;
  }
}
@media screen and (max-width: 400px) {
  .pets__slide {
    grid-template-columns: auto;
    gap: 20px 30px;
  }
}
@media screen and (max-width: 320px) {
  .pets__slide {
    padding: 0 7px 0 6px;
  }
}
.pets__card {
  max-height: 426px;
  padding: 1px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
}
@media screen and (max-width: 1000px) {
  .pets__card {
    max-height: 514px;
  }
}
.pets__swipe-to-left, .pets__swipe-to-right {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
@media screen and (max-width: 640px) {
  .pets__swipe-to-left, .pets__swipe-to-right {
    margin-top: -4px;
  }
}
@media screen and (max-width: 400px) {
  .pets__swipe-to-left, .pets__swipe-to-right {
    display: none;
  }
}
.pets__swipe-to-left {
  left: -82px;
}
@media screen and (max-width: 1599.98px) {
  .pets__swipe-to-left {
    left: 34.3103448276%;
  }
}
@media screen and (max-width: 640px) {
  .pets__swipe-to-left {
    left: 37.1666666667%;
  }
}
@media screen and (max-width: 639.98px) {
  .pets__swipe-to-left {
    left: 25%;
  }
}
.pets__swipe-to-left .pets__icon {
  transform: rotate(180deg);
}
.pets__swipe-to-right {
  right: -80px;
}
@media screen and (max-width: 1599.98px) {
  .pets__swipe-to-right {
    right: 34.3103448276%;
  }
}
@media screen and (max-width: 640px) {
  .pets__swipe-to-right {
    right: 37.1666666667%;
  }
}
@media screen and (max-width: 639.98px) {
  .pets__swipe-to-right {
    right: 25%;
  }
}
.pets__button::after {
  background: #fe9013;
}
@media screen and (max-width: 640px) {
  .pets__button::after {
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  }
}

.card-pets {
  display: grid;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.card-pets__picture {
  display: block;
  max-height: 365px;
  padding-bottom: 100.8241758242%;
  overflow: hidden;
}
.card-pets__picture::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease 0s;
  content: "";
}
.card-pets__picture:hover .card-pets__hidden {
  top: 0;
}
.card-pets__picture:hover::before {
  opacity: 1;
}
.card-pets__picture:hover .card-pets__image {
  transform: scale(1.054);
}
@media screen and (max-width: 1000px) {
  .card-pets__picture {
    max-height: 293px;
  }
}
.card-pets__image {
  transition: transform 0.3s ease 0s;
}
.card-pets__hidden {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #ffffff;
  overflow: auto;
  transition: top 0.3s ease 0s;
}
@media screen and (max-width: 640px) {
  .card-pets__hidden {
    padding: 20px 10px 10px;
  }
}
.card-pets__title {
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}
.card-pets__hidden .card-pets__title {
  margin: auto;
  margin-bottom: 10px;
}
@media screen and (max-width: 640px) {
  .card-pets__title {
    font-size: 13px;
  }
}
.card-pets__description {
  margin: auto;
  margin-top: 0;
  line-height: 140%;
}
@media screen and (max-width: 640px) {
  .card-pets__description {
    font-size: 12px;
  }
}
.card-pets__content {
  display: grid;
  grid-template-columns: auto 48px;
  grid-auto-flow: column;
  align-items: end;
  margin-top: -1px;
  padding: 8px 7px 13px 15px;
  color: #000000;
  background-color: #ffffff;
}
@media screen and (max-width: 640px) {
  .card-pets__content {
    grid-template-columns: auto 37px;
    padding: 8px 6px 10px 12px;
  }
}
.card-pets__place {
  margin-top: -4px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}
@media screen and (max-width: 640px) {
  .card-pets__place {
    font-size: 12px;
  }
}
.card-pets__icon {
  grid-row: span 2;
  justify-self: end;
  max-width: 100%;
  max-height: 38px;
}
.card-pets__icon_margin {
  margin: 1px 4px 0 0;
}
@media screen and (max-width: 640px) {
  .card-pets__icon {
    max-height: 29px;
  }
  .card-pets__icon_margin {
    margin: 0 2px 1px 0;
  }
}

.feed {
  position: relative;
  padding: 69px 0 100px;
}
.feed::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  opacity: 0.9;
  content: "";
}
@media screen and (max-width: 1000px) {
  .feed {
    padding: 30px 0 50px;
  }
}
@media screen and (max-width: 999.98px) {
  .feed {
    padding: 19px 0 20px;
  }
}
@media screen and (max-width: 320px) {
  .feed {
    padding: 20px 0;
  }
}
@media screen and (max-width: 999.98px) and (min-width: 400px) {
  .feed__container {
    max-width: none;
    padding: 0;
  }
}
.feed__content {
  position: relative;
  z-index: 2;
  padding: 41px 59px 59px 99px;
  background: rgba(253, 253, 255, 0.52);
  border-radius: 25px;
}
@media screen and (max-width: 1000px) {
  .feed__content {
    padding: 30px 48px 50px 49px;
    border-radius: 20px;
  }
}
@media screen and (max-width: 999.98px) {
  .feed__content {
    padding: 10px 20px 60px;
  }
}
@media screen and (max-width: 320px) {
  .feed__content {
    padding: 21px 0 40px;
  }
}
.feed__title {
  margin-bottom: 30px;
  padding-right: 40px;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #fe9013;
}
@media screen and (max-width: 639.98px) {
  .feed__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 1000px) {
  .feed__title {
    margin-bottom: 22px;
    padding-right: 0;
  }
}
@media screen and (max-width: 640px) and (min-width: 400px) {
  .feed__title {
    margin-bottom: 21px;
    font-size: 42px;
  }
}
@media screen and (max-width: 320px) {
  .feed__title {
    margin-bottom: 10px;
  }
}
.feed__subtitle {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 120%;
}
@media screen and (max-width: 1000px) {
  .feed__subtitle {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 640px) {
  .feed__subtitle {
    font-size: 22px;
  }
}
@media screen and (max-width: 320px) {
  .feed__subtitle {
    margin-bottom: 21px;
    padding: 0 3px;
    font-size: 18px;
    text-align: center;
  }
}
.feed__label {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 130%;
}
@media screen and (max-width: 1000px) {
  .feed__label {
    max-width: 813px;
  }
}
@media screen and (max-width: 320px) {
  .feed__label {
    display: none;
  }
}
.feed__text {
  max-width: 863px;
  margin-bottom: 60px;
  line-height: 130%;
}
@media screen and (max-width: 1000px) {
  .feed__text {
    margin-bottom: 41px;
  }
}
@media screen and (max-width: 640px) {
  .feed__text {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 320px) {
  .feed__text {
    display: none;
  }
}
.feed__link {
  position: relative;
  transition: color 0.3s ease 0s;
}
.feed__link::before {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #fe9013;
  transition: border-bottom 0.3s ease 0s;
  content: "";
}
@media screen and (max-width: 1000px) {
  .feed__link::before {
    bottom: -1px;
  }
}
.feed__link:hover {
  color: #fe9013;
}
.feed__link:active {
  color: #4b9200;
  transition: color 0s ease 0s;
}
.feed__link:active::before {
  border-color: #4b9200;
  transition: border-color 0s ease 0s;
}
.feed__cards {
  margin-bottom: 62px;
  padding-right: 40px;
}
@media screen and (max-width: 1000px) {
  .feed__cards {
    margin: 0 1px 71px 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 640px) {
  .feed__cards {
    margin-bottom: 41px;
  }
}
@media screen and (max-width: 320px) {
  .feed__cards {
    margin-bottom: 29px;
  }
}
.feed__row {
  display: grid;
  padding-right: 40px;
}
@media screen and (max-width: 1000px) {
  .feed__row {
    padding-right: 0;
  }
}
.feed__button {
  justify-self: center;
}

.cards-feed {
  display: grid;
  justify-items: center;
  gap: 40px;
}
@media screen and (max-width: 1000px) {
  .cards-feed {
    gap: 39px;
  }
}
@media screen and (max-width: 640px) {
  .cards-feed {
    gap: 19px;
  }
}
.cards-feed__title {
  font-size: 36px;
  line-height: 130%;
}
@media screen and (max-width: 320px) {
  .cards-feed__title {
    font-size: 24px;
    line-height: 120%;
  }
}
.cards-feed__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px 130px;
}
@media screen and (max-width: 999.98px) {
  .cards-feed__list {
    gap: 20px 42px;
  }
}
@media screen and (max-width: 640px) {
  .cards-feed__list {
    margin-right: 11px;
  }
}
@media screen and (max-width: 639.98px) {
  .cards-feed__list {
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  .cards-feed__list {
    margin-right: 0;
  }
}
.cards-feed__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 168px;
}
.cards-feed__item::before {
  position: absolute;
  top: 61px;
  left: -100px;
  font-size: 36px;
}
.cards-feed__item::before:nth-child(3n-2) {
  display: none;
}
@media screen and (max-width: 999.98px) {
  .cards-feed__item::before {
    top: -17px;
    left: -75px;
    z-index: 3;
    font-size: 29px;
    color: #4b9200;
  }
}
@media screen and (max-width: 639.98px) {
  .cards-feed__item::before {
    top: -50px;
    left: 140px;
    transform: rotate(84deg);
  }
}
.cards-feed__item:nth-child(3n-2)::before {
  display: none;
}
@media screen and (max-width: 320px) {
  .cards-feed__item {
    gap: 10px;
  }
}
.cards-feed__picture {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 168px;
  padding: 22px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
}
.cards-feed__picture::before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  background-color: #ffffff;
  border-radius: 5px;
  content: "";
}
.cards-feed__icon {
  position: relative;
  z-index: 2;
}
.cards-feed__icon_padding-top {
  padding-top: 5px;
}
.cards-feed__text {
  line-height: 140%;
}
@media screen and (max-width: 320px) {
  .cards-feed__text {
    min-height: 44px;
    padding-bottom: 9px;
  }
}

.testimonials__container {
  display: grid;
  min-width: 0;
}
.testimonials__title {
  margin-bottom: 47px;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
}
@media screen and (max-width: 320px) {
  .testimonials__title {
    font-size: 24px;
    line-height: 120%;
  }
}
@media screen and (max-width: 1000px) {
  .testimonials__title {
    margin-bottom: 29px;
    padding-top: 1px;
  }
}
@media screen and (max-width: 640px) {
  .testimonials__title {
    margin-right: 4px;
  }
}
@media screen and (max-width: 320px) {
  .testimonials__title {
    margin-bottom: 19px;
    margin-right: 0;
  }
}
.testimonials__slider {
  display: grid;
  gap: 21px;
  width: 100%;
  min-width: 0;
  margin-bottom: 31px;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .testimonials__slider {
    margin-bottom: 51px;
  }
}
@media screen and (max-width: 999.98px) {
  .testimonials__slider {
    overflow: visible;
  }
}
@media screen and (max-width: 640px) {
  .testimonials__slider {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 320px) {
  .testimonials__slider {
    margin-bottom: 29px;
  }
}
.testimonials__swiper {
  width: 100%;
  min-width: 0;
  font-size: 0;
  white-space: nowrap;
  transition: transform 0.3s ease 0s;
}
@media screen and (max-width: 999.98px) {
  .testimonials__swiper {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
}
.testimonials__slide {
  display: inline-block;
  width: 268px;
  height: 100%;
  white-space: normal;
}
.testimonials__slide:not(:last-child) {
  margin-right: 29px;
}
@media screen and (max-width: 1599.98px) {
  .testimonials__slide {
    width: 293px;
  }
  .testimonials__slide:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 999.98px) {
  .testimonials__slide {
    width: 100%;
    transition: all 0.3s ease 0s;
  }
  .testimonials__slide:not(:last-child) {
    margin-right: 0;
  }
}
@media screen and (max-width: 1000px) {
  .testimonials__row {
    padding-right: 12px;
  }
}
.testimonials__slipper {
  position: relative;
  width: 599px;
  height: 8px;
  margin: 0 auto;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  border-radius: 5px;
}
.testimonials__slipper::before {
  position: absolute;
  top: 0.5px;
  right: 0.5px;
  bottom: 0.5px;
  left: 0.5px;
  background-color: #f5f7f6;
  border-radius: 5px;
  content: "";
}
@media screen and (max-width: 1000px) {
  .testimonials__slipper {
    width: 390px;
  }
}
.testimonials__toggler {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 0;
  background-color: #fe9013;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}
.testimonials__toggler:hover {
  background-color: #e47209;
}
.testimonials__button {
  justify-self: start;
}
@media screen and (max-width: 640px) {
  .testimonials__button {
    justify-self: center;
    min-width: 240px;
  }
}
.testimonials__background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
._popup-open .testimonials__background {
  z-index: 98;
}
.testimonials__background._active {
  opacity: 1;
}

.slide-testimonials {
  position: relative;
  max-width: 268px;
  max-height: 391px;
  padding: 15px 14.5px 19px 16px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  border-radius: 20px;
  overflow: hidden;
}
@media screen and (max-width: 1599.98px) {
  .slide-testimonials {
    max-width: none;
  }
}
@media screen and (max-width: 1000px) {
  .slide-testimonials {
    padding: 15px 14.5px 41px 16px;
  }
}
@media screen and (max-width: 999.98px) {
  .slide-testimonials {
    max-height: 109px;
    padding: 15px 29px 8px 12px;
    cursor: pointer;
  }
  .slide-testimonials.popup {
    position: fixed;
    z-index: 99;
    padding: 15px 13px 8px 15px;
    cursor: default;
    transition: all 0.2s ease 0s;
  }
  .slide-testimonials.popup_centered {
    transform: translate(-50%, -50%);
  }
  .slide-testimonials.popup_full-height {
    max-height: none;
    transform: translate(-50%, 0);
  }
  .slide-testimonials.popup_opened {
    overflow: visible;
  }
}
@media screen and (max-width: 320px) {
  .slide-testimonials {
    padding: 10px 29px 12px 12px;
  }
}
.slide-testimonials::before {
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background-color: #f1f3f2;
  border-radius: 20px;
  content: "";
}
@media screen and (max-width: 1000px) {
  .slide-testimonials::before {
    background-color: #f5f7f6;
  }
}
.slide-testimonials__header {
  position: relative;
  display: grid;
  grid-template-columns: 37px auto;
  gap: 1px 10px;
}
@media screen and (max-width: 320px) {
  .slide-testimonials__header {
    gap: 1px 6px;
  }
}
.slide-testimonials__picture {
  grid-row: span 2;
  max-height: 37px;
  border-radius: 50%;
  overflow: hidden;
}
.slide-testimonials__icon {
  width: 100%;
  height: 100%;
}
.slide-testimonials__name {
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}
@media screen and (max-width: 320px) {
  .slide-testimonials__name {
    padding-top: 1px;
  }
}
.slide-testimonials__info {
  display: flex;
  gap: 6px;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #bdbdbd;
}
@media screen and (max-width: 320px) {
  .slide-testimonials__info {
    gap: 5px;
  }
}
.slide-testimonials__content {
  max-height: 308px;
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .slide-testimonials__content {
    max-height: 287px;
  }
}
@media screen and (max-width: 999.98px) {
  .slide-testimonials__content {
    max-height: 38px;
  }
  .popup_centered .slide-testimonials__content, .popup_full-height .slide-testimonials__content {
    height: auto;
    max-height: none;
  }
  .popup_centered .slide-testimonials__content {
    padding-bottom: 18px;
  }
  .popup_full-height .slide-testimonials__content {
    height: 83%;
    padding-right: 10px;
    overflow: auto;
  }
}
.slide-testimonials__text {
  position: relative;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
}
@media screen and (max-width: 640px) {
  .slide-testimonials__text {
    margin-left: 6px;
  }
}