%logoContainer {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  min-height: 52px;
  padding-top: 2.55px;

  border: 1px solid $white;
  border-radius: 2px;

  background: $orange;
  background-clip: text;

  transition: color 0.3s ease 0s;

  &:hover {
    color: $whiteTransparent;
  }

  &::before {
    position: absolute;
    left: 10.83px / 82px * 100%;
    bottom: 8.79px / 52px * 100%;

    color: $white;

    transform: scale(1.2);
  }

  @media screen and (max-width: $tablet) {
    width: 46px;
    min-height: 29px;
    padding: 0;

    border: none;

    &::before {
      left: 4px / 46px * 100%;
      bottom: 4px / 29px * 100%;

      font-weight: 300;
      font-size: 11px;
    }
  }
}

%logoTitle {
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;

  @media screen and (max-width: $tablet) {
    font-weight: 300;
    font-size: 12px;
  }
}
