// Typography

@mixin buttonFont {
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}

@mixin bodyFont {
  line-height: 140%;
}

@mixin h2Font {
  font-size: 48px;
  line-height: 120%;

  @media screen and (max-width: $big-mobile) {
    font-size: 24px;
  }
}

@mixin subtitleFont {
  font-size: 24px;
  line-height: 120%;
}

@mixin smallParagraphFont {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;

  @media screen and (max-width: $tablet) {
    font-size: 12px;
  }
}

@mixin h3Font {
  font-size: 36px;
  line-height: 130%;
}
