// Typography

$fontFamily: 'Roboto', sans-serif;
$mainFontSize: 16px;

// Colors

$green: #4b9200;
$orangeColor: #fe9013;
$orange: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
$yellow: #ffee2e;
$orangeGradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
$pinkGradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
$red: #d31414;
$blackBlue: #333b41;
$gray: #767474;
$grayTwo: #bdbdbd;
$grayThree: #929699;
$graySmoky: #ababab;
$grayLight: #f1f3f2;
$light: #f5f7f6;
$grayHalfTransparent: rgba(196, 196, 196, 0.5);
$frostedGlassWhite: rgba(253, 253, 255, 0.52);
$white: #ffffff;
$whiteHalfTransparent: rgba(255, 255, 255, 0.5);
$whiteTransparent: rgba(255, 255, 255, 0);
$black: #000000;
$blackTransparent: rgba(0, 0, 0, 0.7);
$backgroundBlack: #111115;
$orangeHover: #e47209;

// Screens

$desktop: 1599.98px;
$small-desktop: 1000px;
$big-tablet: 999.98px;
$tablet: 640px;
$big-mobile: 639.98px;
$medium-mobile: 400px;
$mobile: 320px;
