@import '../../abstracts/variables';
@import '../../abstracts/mixins';
@import '../../base/reset';
@import '../../base/fonts';
@import '../../base/iconsfont';
@import '../../base/base';
@import '../../components/buttons';
@import '../../components/logo';
@import '../../components/links';
@import '../../layout/header';
@import '../../layout/footer';

.main {
  // .main__picture

  &__picture {
    margin-top: -4px;
    padding-bottom: 390px;

    @media screen and (max-width: $small-desktop) {
      margin-top: 0;
    }

    @media screen and (max-width: $big-tablet) {
      padding-bottom: 335px;
    }

    @media screen and (max-width: $tablet) {
      margin-top: 34px;
    }

    @media screen and (max-width: $big-mobile) {
      padding-bottom: 187px;
    }
  }

  // .main__image

  &__image {
    z-index: -1;

    @media screen and (max-width: $small-desktop) and (min-width: $big-tablet) {
      .main & {
        left: -172px / 1000px * 100%;
  
        width: auto;
      }
    }

    @media screen and (max-width: $tablet) {
      .main & {
        left: -272px / 640px * 100%;
        z-index: 0;

        width: auto;
      }
    }

    @media screen and (max-width: $big-mobile) {
      .main & {
        left: -20%;
      }
    }

    @media screen and (max-width: $medium-mobile) {
      .main & {
        left: -148px / 320px * 100%;
      }
    }
  }

  // .main__body

  &__body {
    display: grid;
    gap: 59px;
    padding: 40px 0 180px;

    color: $white;

    background: $orangeGradient;

    @media screen and (max-width: $small-desktop) {
      gap: 38px;
      padding: 41px 0 30px;
    }

    @media screen and (max-width: $tablet) {
      gap: 29px;
      padding: 31px 0 46px;
    }

    @media screen and (max-width: $mobile) {
      padding: 31px 0 21px;
    }
  }
}

.info {
  // .info__container

  &__container {
    @media screen and (max-width: $mobile) {
      padding: 0 10px;
    }
  }

  // .info__title

  &__title {
    margin-bottom: 10px;

    @include h3Font;

    @media screen and (max-width: $small-desktop) {
      max-width: 778px;
      margin-bottom: 30px;
    }

    @media screen and (max-width: $tablet) and (min-width: $mobile) {
      margin-bottom: 20px;

      @include subtitleFont;
    }
  }

  // .info__text

  &__text {
    margin-bottom: 46px;

    @include bodyFont;

    @media screen and (max-width: $tablet) {
      margin-bottom: 28px;
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 25px;
    }
  }

  // .info__bold

  &__bold {
    font-weight: 500;
    white-space: pre-wrap;
  }

  // .info__subtitle

  &__subtitle {
    @include h3Font;
    color: $orangeColor;

    @media screen and (max-width: $medium-mobile) {
      @include subtitleFont;
    }
  }
}

.feed {
  // .feed__container

  &__container {
    @media screen and (max-width: $medium-mobile) {
      padding: 0 10px;
    }
  }

  // .feed__body

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 92px 62px;

    background-color: rgba(255, 255, 255, 0.52);
    border-radius: 20px;

    color: $blackBlue;

    @media screen and (max-width: $desktop) {
      padding: 20px 44px 45px 47px;
    }

    @media screen and (max-width: $medium-tablet) {
      padding: 30px 0;
    }

    @media screen and (max-width: $mobile) {
      padding: 21px 0 19px;
    }
  }

  // .feed__title

  &__title {
    margin: 0 20px 13px 0;

    @include h2Font;
    color: $orangeColor;

    @media screen and (max-width: $small-desktop) {
      margin: 0 18px 11px 0;
    }

    @media screen and (max-width: $tablet) {
      margin: 0 0 21px 1px;
    }

    @media screen and (max-width: $mobile) {
      margin: 0 1px 11px 0;
    }
  }

  // .feed__subtitle

  &__subtitle {
    align-self: start;
    margin-bottom: 60px;

    @include subtitleFont;

    @media screen and (max-width: $medium-tablet) {
      padding: 0 10px;

      text-align: center;
    }

    @media screen and (max-width: $tablet) {
      margin-bottom: 50px;
    }

    @media screen and (max-width: $medium-mobile) {
      font-size: 16px;
      line-height: 140%;
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 10px;
      padding: 0;
    }
  }

  // .feed__media-block

  &__media-block {
    display: flex;
    gap: 30px 89px;
    margin: 0 14px 48px 0;

    @media screen and (max-width: $small-desktop) {
      margin: 0 18px 48px 0;
    }

    @media screen and (max-width: $tablet) {
      margin: 0 18px 41px 0;
    }

    @media screen and (max-width: $big-mobile) {
      gap: 20px 36px;
      margin: 0 13px 41px 0;
    }

    @media screen and (max-width: $mobile) {
      justify-content: space-between;
      margin: 0 13px 4px 0;
    }
  }

  // .feed__content

  &__content {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    padding-top: 105px;

    @media screen and (max-width: $big-mobile) {
      padding-top: 58px;
    }

    @media screen and (max-width: $big-mobile) {
      gap: 8px;
    }

    &::before {
      position: absolute;
      top: 130px;
      right: -11px;

      font-size: 14px;

      transform: translate(100%, 0);
      
      @media screen and (max-width: $big-mobile) {
        top: 73px;
        right: -5px;

        font-size: 8px;
      }
    }
  }

  // .feed__count

  &__count {
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-transform: uppercase;
    color: $black;

    @media screen and (max-width: $big-mobile) {
      font-size: 40px;
    }
  }

  // .feed__text

  &__text {
    @include bodyFont;

    &_margin {
      margin-left: 5px;

      @media screen and (max-width: $small-desktop) {
        margin-left: 0;
      }

      @media screen and (max-width: $mobile) {
        margin-right: -1px;
      }
    }

    &_small {
      @media screen and (max-width: $medium-mobile) {
        font-size: 9px;
      }
    }
  }

  // .feed__picture

  &__picture {
    display: flex;
    align-items: flex-end;
    width: 284px;
    height: 246px;

    overflow: hidden;

    @media screen and (max-width: $big-mobile) {
      width: 160px;
      height: 138px;
    }
  }

  // .feed__image

  &__image {
    max-width: 100%;
    max-height: 100%;
  }

  // .feed__form

  &__form {
    margin-bottom: 30px;

    @media screen and (max-width: $small-desktop) and (min-width: $medium-tablet) {
      margin-right: 4px;
    }
  }
}

.form-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  // .form-feed__text

  &__text {
    align-self: flex-start;
    margin: 0 0 10px 4px;

    @include bodyFont;
    color: $black;

    @media screen and (max-width: $desktop) {
      align-self: center;
      width: 810px;
    }

    @media screen and (max-width: $small-desktop) {
      margin: 0 0 9px 0;
    }

    @media screen and (max-width: $big-tablet) {
      width: 680px;
    }

    @media screen and (max-width: $medium-tablet) {
      width: 600px;
    }

    @media screen and (max-width: $tablet) {
      padding: 0 10px;
      margin: 0 0 -1px 0;
    }

    @media screen and (max-width: $big-mobile) {
      width: 370px;
    }

    @media screen and (max-width: $medium-mobile) {
      width: 300px;
      margin: 0;
      padding: 0;
    }
  }

  // .form-feed__range

  &__range {
    position: relative;

    display: flex;
    width: 100%;
    margin-bottom: 50px;

    @media screen and (max-width: $desktop) {
      max-width: 810px;
    }

    @media screen and (max-width: $big-tablet) {
      max-width: 680px;
    }

    @media screen and (max-width: $medium-tablet) {
      max-width: 600px;
    }

    @media screen and (max-width: $tablet) {
      width: 100%;
    }

    @media screen and (max-width: $big-mobile) {
      max-width: 370px;
    }

    @media screen and (max-width: $medium-mobile) {
      max-width: 300px;
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 25px;
    }

    &::before {
      position: absolute;
      top: 7px;
      left: 0;

      width: 100%;
      height: 27px;

      background-color: #404950;
      border-radius: 2px;

      content: '';

      @media screen and (max-width: $medium-mobile) {
        height: 13px;

        border-radius: 1px;
      }
    }

    &::after {
      position: absolute;
      top: 19px;
      right: 30px;
      left: 30px;

      height: 2px;

      background-color: #72828e;

      content: '';

      @media screen and (max-width: $desktop) {
        right: 16px;
        left: 16px;
      }

      @media screen and (max-width: $medium-tablet) {
        right: 41px;
        left: 41px;
      }

      @media screen and (max-width: $big-mobile) {
        right: 17px;
        left: 17px;
      }

      @media screen and (max-width: $medium-mobile) {
        top: 13px;

        height: 1px;

        background-color: $grayFour;
      }
    }
  }

  // .form-feed__item

  &__item {
    position: relative;
    z-index: 2;

    display: grid;
    padding-top: 15px;

    @media screen and (max-width: $desktop) {
      &._hide1 {
        display: none;
      }
    }

    @media screen and (max-width: $big-tablet) {
      &._hide2 {
        display: none;
      }
    }

    @media screen and (max-width: $medium-tablet) {
      &._hide3 {
        display: none;
      }
    }

    @media screen and (max-width: $medium-mobile) {
      padding-top: 11.5px;
    }
  }

  // .form-feed__dot

  &__dot {
    position: relative;

    width: 10px;
    height: 10px;
    margin: 0 94px 21px 26px;

    background-color: $yellow;
    border-radius: 50%;
    cursor: pointer;

    @media screen and (max-width: $desktop) {
      margin: 0 109px 21px 11px;
    }

    @media screen and (max-width: $medium-tablet) {
      margin: 0 85px 21px 35px;
    }

    @media screen and (max-width: $big-mobile) {
      margin: 0 55px 13px 17px;
    }

    @media screen and (max-width: $medium-mobile) {
      width: 5px;
      height: 5px;
      margin: 0 43px 13px 17px;
    }

    @media screen and (max-width: $mobile) {
      margin: 0 43px 10px 17px;
    }

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;

      border: 2px solid transparent;
      border-radius: 50%;
      transform: translate(-50%, -50%);

      content: '';

      @media screen and (max-width: $medium-mobile) {
        border-width: 1px;
        transform: translate(-53%, -53%);
      }

      ._active & {
        border-color: $orangeColor;
      }
    }

    &::before {
      width: 23px;
      height: 23px;

      @media screen and (max-width: $medium-mobile) {
        width: 11px;
        height: 11px;
      }
    }

    &::after {
      width: 40px;
      height: 40px;

      @media screen and (max-width: $medium-mobile) {
        width: 20px;
        height: 20px;
      }
    }
  }

  // .form-feed__amount

  &__amount {
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;

    @media screen and (max-width: $medium-tablet) {
      margin-left: 17px;
    }

    @media screen and (max-width: $big-mobile) {
      margin-left: 0;

      font-size: 20px;
    }

    @media screen and (max-width: $mobile) {
      margin-left: 8px;

      font-size: 13px;
    }

    &::before {
      margin-right: 2px;

      font-size: 20px;

      @media screen and (max-width: $big-mobile) {
        font-size: 15px;
      }

      @media screen and (max-width: $mobile) {
        margin-right: 1px;

        font-size: 10px;
      }
    }

    ._active & {
      color: $orangeColor;
    }
  }

  // .form-feed__input

  &__input {
    position: relative;

    width: 268px;
    margin-bottom: 25px;

    @media screen and (max-width: $small-desktop) {
      margin-bottom: 26px;
    }

    @media screen and (max-width: $tablet) {
      width: 180px;
      margin-bottom: 31px;
    }

    @media screen and (max-width: $mobile) {
      margin: 0 0 25px 1px;
    }

    &::before {
      position: absolute;
      top: 50%;
      right: 10px;

      font-size: 20px;
      color: $grayThree;

      transform: translate(0, -50%);
    }

    &._active {
      &::before {
        color: $green;
      }
    }

    &._mistake {
      &::before {
        color: $red;
      }
    }
  }

  // .form-feed__price-field

  &__price-field {
    position: relative;
    z-index: 2;

    width: 100%;
    padding: 15px 30px 14px 8px;

    @include bodyFont;

    background-color: transparent;
    border: 1px solid $grayThree;
    border-radius: 2px;

    -moz-appearance: textfield;

    @media screen and (max-width: $tablet) {
      padding: 9px 30px 9px 5px;
    }

    @media screen and (max-width: $mobile) {
      padding: 10px 30px 7px 5px;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      @include bodyFont;
      color: $grayThree;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    ._active & {
      border-color: $green;

      &::placeholder {
        color: $green;
      }
    }

    ._mistake & {
      border-color: $red;

      &::placeholder {
        color: $red;
      }
    }
  }

  // .form-feed__frequency

  &__frequency {
    display: flex;
    gap: 20px 50px;
    margin: 0 15px 30px 0;

    @media screen and (max-width: $tablet) {
      margin: 0 19px 29px 0;
    }

    @media screen and (max-width: $mobile) {
      margin: 0 20px 28px 0;
    }
  }

  // .form-feed__radio

  &__radio {
    position: fixed;
    left: -1000%;

    opacity: 0;
    visibility: hidden;

    &:checked + .form-feed__label::before {
      background-color: $green;
      border-color: $green;
    }
  }

  // .form-feed__label

  &__label {
    position: relative;

    padding-left: 26px;

    @include bodyFont;

    &::before {
      position: absolute;
      left: 0;
      top: 2px;

      width: 16px;
      height: 16px;

      border: 1px solid $orangeColor;
      border-radius: 50%;
      cursor: pointer;

      content: '';
    }
  }

  // .form-feed__button

  &__button {
    z-index: 2;

    margin-left: 6px;
    padding-bottom: 15px;

    @extend %roundedButton;

    @media screen and (max-width: $small-desktop) {
      margin-left: 4px;
    }

    @media screen and (max-width: $mobile) {
      margin: 0 1px;
    }
  }
}
