.footer {
  position: relative;
  z-index: 2;

  padding: 40px 0 50px;

  color: $white;

  background-color: $backgroundBlack;

  @media screen and (max-width: $tablet) {
    padding: 12px 0 11px;
  }

  @media screen and (max-width: $big-mobile) {
    padding: 20px 0;
  }

  // .footer__container

  &__container {
    display: grid;
    grid-template-columns: 300px auto (228px + 10px + 129px);
    align-items: end;
    gap: 36px 32px;

    @media screen and (max-width: $desktop) {
      grid-template-columns: 200px auto 285px;
    }

    @media screen and (max-width: $big-tablet) and (min-width: $big-mobile) {
      grid-template-columns: 351px auto;
      grid-template-rows: 52px;
      gap: 32px 20px;
    }

    @media screen and (max-width: $big-mobile) {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 30px 20px;
    }
  }

  // .footer__main-link

  &__main-link {
    align-self: start;

    @extend %logoContainer;

    border-width: 0.5px;
    border-color: $whiteHalfTransparent;

    @media screen and (max-width: $tablet) {
      width: 82px;
      min-height: 52px;
      margin: 1px 0 0 1px;
      border: 1px solid $whiteHalfTransparent;

      &::before {
        left: 10.83px / 82px * 100%;
        bottom: 8.79px / 52px * 100%;

        font-size: 15px;
      }
    }

    @media screen and (max-width: $big-mobile) {
      width: auto;
      min-height: 0;
      margin: 0;

      border: none;

      &::before {
        left: 73px;
        bottom: 7px;
      }
    }
  }

  // .footer__logo

  &__logo {
    @extend %logoTitle;

    @media screen and (max-width: $tablet) {
      font-size: 19px;
    }
  }

  // .footer__form

  &__form {
    grid-column: span 2;
    justify-self: end;
    max-width: 228px + 10px + 129px;

    @media screen and (max-width: $small-desktop) {
      margin-right: 32px;
    }

    @media screen and (max-width: $big-tablet) {
      .footer & {
        display: none;
      }
    }
  }

  // .footer__button

  &__button {
    z-index: 1;

    grid-column: span 3;
    justify-self: start;
    margin-bottom: 8px;

    @extend %squareButton;

    @media screen and (max-width: $big-tablet) {
      grid-column: span 1;
      align-self: start;
      order: 2;
    }

    @media screen and (max-width: $big-mobile) {
      justify-self: center;
      margin-bottom: 0;
    }
  }

  // .footer__socials

  &__socials {
    @media screen and (max-width: $big-tablet) and (min-width: $big-mobile) {
      grid-row: span 2;
      justify-self: end;
      align-self: start;
      order: 1;
    }

    @media screen and (max-width: $tablet) and (min-width: $big-mobile) {
      margin-bottom: 11px;
    }
  }

  // .footer__navigation

  &__navigation {
    @media screen and (min-width: $big-tablet) {
      justify-self: end;
    }

    @media screen and (max-width: $big-tablet) {
      order: 3;
    }

    @media screen and (max-width: $big-mobile) {
      order: 5;
    }
  }

  // .footer__list

  &__list {
    display: flex;
    align-items: center;
    gap: 20px 58px;

    @media screen and (max-width: $small-desktop) {
      gap: 20px 48px;
    }

    @media screen and (max-width: $tablet) {
      margin-left: 1px;
      gap: 20px 37px;
    }

    @media screen and (max-width: $big-mobile) {
      margin-left: 0;
      gap: 20px 30px;
    }
  }

  // .footer__item

  &__item {
  }

  // .footer__link

  &__link {
    @extend %navigationLink;

    @media screen and (max-width: $small-desktop) {
      font-weight: 400;
    }
  }

  // .footer__designer

  &__designer {
    justify-self: end;
    display: grid;
    gap: 10px;

    color: $whiteHalfTransparent;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: $green;
    }

    @media screen and (max-width: $big-tablet) {
      order: 4;
    }

    @media screen and (max-width: $big-mobile) {
      justify-self: center;
    }

    @media screen and (max-width: $mobile) {
      justify-self: end;

      font-size: 15px;
    }
  }

  // .footer__text

  &__text {
    font-weight: 100;
    line-height: 130%;
  }
}

.form-footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 14px 10px;

  // .form-footer__title

  &__title {
    grid-column: span 2;

    @include subtitleFont;
  }

  // .form-footer__field

  &__field {
    width: 228px;
    height: 42px;
    padding: 1px;

    background: $orange;
    border-radius: 2px;

    &._active {
      background: $green;
    }

    .form-footer:invalid & {
      background: $red;
    }

    .form-footer:invalid &._default {
      background: $orange;
    }
  }

  // .form-footer__input

  &__input {
    width: 100%;
    height: 100%;
    padding: 10px;

    line-height: 140%;
    color: inherit;

    background: $backgroundBlack;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $grayTwo;
    }
  }

  // .form-footer__button

  &__button {
    @extend %submitButton;
  }
}

.socials-footer {
  display: flex;
  gap: 10px;

  @media screen and (min-width: $big-mobile) {
    flex-direction: column;
  }

  @media screen and (max-width: $tablet) {
    gap: 20px;
  }

  @media screen and (max-width: $big-mobile) {
    gap: 30px;
  }

  // .socials-footer__item

  &__item {
  }

  // .socials-footer__link

  &__link {
    display: flex;
    align-items: flex-end;
    column-gap: 12px;

    &:hover {
      .socials-footer__text {
        text-decoration: underline;
      }
    }

    &:active {
      .socials-footer__icon {
        background-color: $green;
      }

      .socials-footer__text {
        text-decoration: none;
        color: $green;
      }
    }
  }

  // .socials-footer__icon

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;

    background-color: $grayHalfTransparent;
    border-radius: 50%;

    text-decoration: none;
  }

  // .socials-footer__text

  &__text {
    line-height: 140%;

    @media screen and (max-width: $tablet) {
      display: none;
    }
  }
}
