@import '../../abstracts/variables';
@import '../../abstracts/mixins';
@import '../../base/reset';
@import '../../base/fonts';
@import '../../base/iconsfont';
@import '../../base/base';
@import '../../components/buttons';
@import '../../components/logo';
@import '../../components/links';
@import '../../layout/header';
@import '../../layout/footer';

.header {
  z-index: 2;

  @media screen and (max-width: $tablet) {
    z-index: 20;
  }
}

.main {
  // .main__watch

  &__watch {
    margin-top: -80px;
    margin-bottom: 140px;

    @media screen and (max-width: $small-desktop) {
      margin-bottom: 100px;
    }

    @media screen and (max-width: $tablet) {
      margin-top: 0;
      margin-bottom: 60px;
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 30px;
    }
  }

  // .main__backstage

  &__backstage {
    position: relative;

    margin-bottom: 179px;

    @media screen and (max-width: $small-desktop) {
      margin-bottom: 142px;
    }

    @media screen and (max-width: $tablet) {
      margin-bottom: 80px;
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 40px;
    }

    &::before {
      position: absolute;
      top: -128px;
      right: 0;

      width: 208px / 1600px * 100%;
      height: 613px / 403px * 100%;
      max-width: 208px;
      max-height: 613px;

      background: url('../../assets/images/backstage/flower-decor.png') center right / contain no-repeat;

      content: '';

      @media screen and (max-width: $desktop) {
        display: none;
      }

      @media screen and (max-width: $big-tablet) {
        top: -65px;
        right: -103px;

        display: block;
        width: 230px / 640px * 100%;
        height: 470px / 367px * 100%;
        max-width: 230px;
        max-height: 470px;

        background-position: center left;
      }

      @media screen and (max-width: $tablet) {
        width: 234px / 640px * 100%;
        height: 483px / 367px * 100%;
        max-width: 234px;
        max-height: 483px;
      }

      @media screen and (max-width: $big-mobile) {
        top: -66px;
        right: -73px;

        width: 105px / 320px * 100%;
        height: 220px / 388px * 100%;
        max-width: 105px;
        max-height: 220px;
      }
    }
  }

  // .main__pets

  &__pets {
    position: relative;

    margin-bottom: 100px;

    @media screen and (max-width: $desktop) {
      margin-bottom: 140px;
    }

    @media screen and (max-width: $tablet) {
      margin-bottom: 100px;
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 60px;
    }

    &::before,
    &::after {
      position: absolute;
      bottom: -100px;

      content: '';

      @media screen and (max-width: $desktop) {
        bottom: -140px;
      }

      @media screen and (max-width: $tablet) {
        bottom: -100px;
      }

      @media screen and (max-width: $mobile) {
        bottom: -60px;
      }
    }

    &::before {
      left: 0;

      max-width: 292px;
      max-height: 460px;
      width: 292px / 1160px * 100%;
      height: 460px / 1011px * 100%;

      background: url('../../assets/images/pets/palm-decor.png') bottom left / contain no-repeat;

      @media screen and (max-width: $desktop) {
        max-width: 195px;
        max-height: 203px;
        width: 195px / 940px * 100%;
        height: 203px / 940px * 100%;

        background: url('../../assets/images/pets/palm-decor-small.png') bottom left / contain no-repeat;
      }

      @media screen and (max-width: $tablet) {
        left: -59px;

        max-width: 193px;
        max-height: 220px;
        width: 193px / 640px * 100%;
        height: 220px / 870px * 100%;
      }

      @media screen and (max-width: $medium-mobile) {
        left: -11px;

        max-width: 69px;
        max-height: 83px;
        width: 69px / 320px * 100%;
        height: 83px / 1461px * 100%;
      }
    }

    &::after {
      right: 0;

      max-width: 368px;
      max-height: 275px;
      width: 368px / 1160px * 100%;
      height: 275px / 1011px * 100%;

      background: url('../../assets/images/pets/strelitzia-decor.png') bottom right / contain no-repeat;

      @media screen and (max-width: $desktop) {
        max-width: 242px;
        max-height: 181px;
        width: 242px / 940px * 100%;
        height: 181px / 940px * 100%;
      }

      @media screen and (max-width: $tablet) {
        max-width: 175px;
        max-height: 131px;
        width: 175px / 640px * 100%;
        height: 131px / 870px * 100%;
      }

      @media screen and (max-width: $medium-mobile) {
        right: -21px;

        margin-bottom: -4px;

        max-width: 94px;
        max-height: 80px;
        width: 94px / 320px * 100%;
        height: 80px / 1461px * 100%;
      }
    }
  }

  // .main__feed

  &__feed {
    margin-bottom: 140px;

    @media screen and (max-width: $small-desktop) {
      margin-bottom: 100px;
    }

    @media screen and (max-width: $tablet) {
      margin-bottom: 60px;
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 30px;
    }
  }

  // .main__testimonials

  &__testimonials {
    position: relative;

    margin-bottom: 180px;

    @media screen and (max-width: $small-desktop) {
      margin-bottom: 140px;
    }

    @media screen and (max-width: $tablet) {
      margin-bottom: 80px;
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 60px;
    }

    &::before {
      position: absolute;
      right: 0;
      bottom: -317px;

      width: 250px / 1160px * 100%;
      height: 410px / 598px * 100%;
      max-width: 250px;
      max-height: 410px;

      background: url('../../assets/images/testimonials/leaf-decor.png') right center / contain no-repeat;

      content: '';

      @media screen and (max-width: $small-desktop) {
        bottom: -225px;

        width: 197px / 940px * 100%;
        height: 324px / 601px * 100%;
        max-width: 197px;
        max-height: 324px;
      }

      @media screen and (max-width: $tablet) {
        right: -8px;
        bottom: -150px;

        width: 153px / 640px * 100%;
        height: 205px / 528px * 100%;
        max-width: 153px;
        max-height: 205px;
      }

      @media screen and (max-width: $mobile) {
        right: -8px;
        bottom: -105px;

        width: 63px / 320px * 100%;
        height: 115px / 489px * 100%;
        max-width: 63px;
        max-height: 115px;

        transform: rotate(-15deg);
      }
    }
  }
}

.watch {
  position: relative;

  padding: 166px 0 100px;

  color: $white;

  @media screen and (max-width: $small-desktop) {
    padding: 123px 0 47px;
  }

  @media screen and (max-width: $tablet) {
    padding: 84px 0 40px;
  }

  @media screen and (max-width: $mobile) {
    margin-top: 34px;
    padding: 41px 0 0;
  }

  // .watch__container

  &__container {
    display: flex;
  }

  // .watch__content

  &__content {
    position: relative;
    z-index: 1;

    display: grid;
    grid-template-columns: 500px;
    justify-content: end;
    gap: 60px;
    width: 100%;

    text-align: center;

    @media screen and (max-width: $small-desktop) {
      grid-template-columns: 400px;
      gap: 41px 50px;
      padding-right: 56px;
    }

    @media screen and (max-width: $tablet) {
      grid-template-columns: auto auto;
      align-items: end;
      padding-right: 0;
    }

    @media screen and (max-width: $big-mobile) {
      grid-template-columns: 300px;
      gap: 20px;
    }

    @media screen and (max-width: $mobile) {
      grid-template-columns: auto;
      justify-items: end;
      gap: 61px;
    }

    &::before {
      position: absolute;
      top: -74px;
      right: 108px;
      z-index: -1;

      width: 465px;
      height: 465px;

      background: $orange;
      border-radius: 50%;

      content: '';

      @media screen and (max-width: $small-desktop) {
        width: 367px;
        height: 367px;

        top: -54px;
        right: 147px;
      }

      @media screen and (max-width: $tablet) {
        top: -40px;
        right: 52px;

        width: 237px;
        height: 237px;
      }

      @media screen and (max-width: $mobile) {
        top: -19px;
        right: 27px;

        width: 119px;
        height: 119px;
      }
    }
  }

  // .watch__title

  &__title {
    font-weight: 700;
    font-size: 106.5px;
    line-height: 75%;
    text-transform: uppercase;

    @media screen and (max-width: $small-desktop) {
      font-size: 85px;
    }

    @media screen and (max-width: $tablet) {
      order: 1;
      margin-right: -4px;
      padding-bottom: 46px;

      font-size: 54px;
    }

    @media screen and (max-width: $big-mobile) {
      order: 0;
      padding-bottom: 0;
    }

    @media screen and (max-width: $mobile) {
      max-width: 128px;
      margin-right: 0;

      font-size: 28px;
    }
  }

  // .watch__text

  &__text {
    color: $yellow;
  }

  // .watch__button

  &__button {
    justify-self: center;
    margin-left: 4px;

    @extend %roundedButton;

    @media screen and (max-width: $small-desktop) {
      margin-left: 0;
    }

    @media screen and (max-width: $small-desktop) {
      max-width: 100%;
    }
  }

  // .watch__image

  &__image {
    @media screen and (max-width: $mobile) {
      max-height: 187px / 261px * 100%;
    }
  }
}

.backstage {
  // .backstage__container

  &__container {
    display: flex;
    gap: 87px;

    @media screen and (max-width: $small-desktop) {
      gap: 31px;
    }
  }

  // .backstage__picture

  &__picture {
    align-self: flex-start;
    flex: 1 0 (609px / 1160px * 100%);
    padding-bottom: 403px / 1160px * 100%;

    @media screen and (max-width: $desktop) {
      flex: 1 0 (455px / 940px * 100%);
      margin-top: 9px;
      padding-bottom: 408px / 940px * 100%;
    }

    @media screen and (max-width: $big-tablet) {
      display: none;
    }
  }

  // .backstage__image

  &__image {
  }

  // .backstage__content

  &__content {
    @media screen and (max-width: $big-tablet) {
      padding-right: 105px;
    }

    @media screen and (max-width: $big-mobile) {
      padding-right: 0;
    }
  }

  // .backstage__title

  &__title {
    margin-bottom: 21px;

    @include h2Font;

    @media screen and (max-width: $small-desktop) {
      margin-bottom: 22px;
    }

    @media screen and (max-width: $tablet) {
      padding-left: 4px;
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 10px;
      margin-left: -1px;
      padding-top: 1px;
      padding-left: 0px;
    }
  }

  // .backstage__description

  &__description {
    margin-bottom: 54px;

    line-height: 130%;

    @media screen and (max-width: $tablet) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 21px;
      padding-left: 1px;
    }
  }

  // .backstage__subtitle

  &__subtitle {
    margin-bottom: 34px;

    @include subtitleFont;

    @media screen and (max-width: $tablet) {
      margin-bottom: 20px;
      padding-left: 4px;
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 10px;
      padding-left: 1px;
    }
  }

  // .backstage__text

  &__text {
    line-height: 137%;

    @media screen and (max-width: $mobile) {
      margin-left: -1px;
    }
  }
}

.pets {
  // .pets__container

  &__container {
    position: relative;

    display: grid;
    justify-items: center;
    gap: 79px;

    @media screen and (max-width: $desktop) {
      gap: 80px;
    }

    @media screen and (max-width: $tablet) {
      gap: 60px;
    }

    @media screen and (max-width: $mobile) {
      gap: 19px;
    }
  }

  // .pets__slider

  &__slider {
    width: 100%;

    overflow: hidden;
  }

  // .pets__swiper

  &__swiper {
    position: relative;

    display: flex;
    gap: 120px;

    transition: transform 0.3s ease 0s;
  }

  // .pets__slide

  &__slide {
    flex: 0 0 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 30px;
    padding: 0 3px 0 1px;

    @media screen and (max-width: $desktop) {
      gap: 92px 29px;
      padding: 0 2px;
    }

    @media screen and (max-width: $big-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $tablet) {
      gap: 92px 30px;
      padding: 0;
    }

    @media screen and (max-width: $medium-mobile) {
      grid-template-columns: auto;
      gap: 20px 30px;
    }

    @media screen and (max-width: $mobile) {
      padding: 0 7px 0 6px;
    }
  }

  // .pets__card

  &__card {
    max-height: 426px;
    padding: 1px;

    background: $orange;
    border-radius: 5px;

    @media screen and (max-width: $small-desktop) {
      max-height: 514px;
    }
  }

  &__swipe-to-left,
  &__swipe-to-right {
    position: absolute;
    top: 403px / 1005px * 100%;

    @extend %sliderButton;

    @media screen and (max-width: $small-desktop) {
      top: 334px / 811px * 100%;
    }

    @media screen and (max-width: $tablet) {
      top: 314px / 811px * 100%;

      margin-top: -4px;
    }

    @media screen and (max-width: $medium-mobile) {
      display: none;
    }
  }

  // .pets__swipe-to-left

  &__swipe-to-left {
    left: -20px - 62px;

    @media screen and (max-width: $desktop) {
      left: 398px / 1160px * 100%;
    }

    @media screen and (max-width: $tablet) {
      left: 223px / 600px * 100%;
    }

    @media screen and (max-width: $big-mobile) {
      left: 150px / 600px * 100%;
    }

    .pets__icon {
      transform: rotate(180deg);
    }
  }

  // .pets__swipe-to-right

  &__swipe-to-right {
    right: -18px - 62px;

    @media screen and (max-width: $desktop) {
      right: 398px / 1160px * 100%;
    }

    @media screen and (max-width: $tablet) {
      right: 223px / 600px * 100%;
    }

    @media screen and (max-width: $big-mobile) {
      right: 150px / 600px * 100%;
    }
  }

  // .pets__button

  &__button {
    @extend %roundedButton;

    &::after {
      background: $orangeColor;

      @media screen and (max-width: $tablet) {
        background: $orange;
      }
    }
  }
}

.card-pets {
  display: grid;
  height: 100%;

  border-radius: 5px;

  overflow: hidden;

  // .card-pets__picture

  &__picture {
    display: block;
    max-height: 365px;
    padding-bottom: 367px / 364px * 100%;

    overflow: hidden;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      width: 100%;
      height: 100%;

      background-color: $blackTransparent;
      opacity: 0;

      transition: opacity 0.3s ease 0s;

      content: '';
    }

    &:hover {
      .card-pets__hidden {
        top: 0;
      }

      &::before {
        opacity: 1;
      }

      .card-pets__image {
        transform: scale(1.054);
      }
    }

    @media screen and (max-width: $small-desktop) {
      max-height: 293px;
    }
  }

  // .card-pets__image

  &__image {
    transition: transform 0.3s ease 0s;
  }

  // .card-pets__hidden

  &__hidden {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    height: 100%;
    padding: 20px;

    color: $white;

    overflow: auto;

    transition: top 0.3s ease 0s;

    @media screen and (max-width: $tablet) {
      padding: 20px 10px 10px;
    }
  }

  // .card-pets__title

  &__title {
    @include buttonFont;

    .card-pets__hidden & {
      margin: auto;
      margin-bottom: 10px;
    }

    @media screen and (max-width: $tablet) {
      font-size: 13px;
    }
  }

  // .card-pets__description

  &__description {
    margin: auto;
    margin-top: 0;

    @include bodyFont;

    @media screen and (max-width: $tablet) {
      font-size: 12px;
    }
  }

  // .card-pets__content

  &__content {
    display: grid;
    grid-template-columns: auto 48px;
    grid-auto-flow: column;
    align-items: end;
    margin-top: -1px;
    padding: 8px 7px 13px 15px;

    color: $black;

    background-color: $white;

    @media screen and (max-width: $tablet) {
      grid-template-columns: auto 37px;
      padding: 8px 6px 10px 12px;
    }
  }

  // .card-pets__place

  &__place {
    margin-top: -4px;

    @include smallParagraphFont;

    @media screen and (max-width: $tablet) {
      font-size: 12px;
    }
  }

  // .card-pets__icon

  &__icon {
    grid-row: span 2;
    justify-self: end;
    max-width: 100%;
    max-height: 38px;

    &_margin {
      margin: 1px 4px 0 0;
    }

    @media screen and (max-width: $tablet) {
      max-height: 29px;

      &_margin {
        margin: 0 2px 1px 0;
      }
    }
  }
}

.feed {
  position: relative;

  padding: 69px 0 100px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: $orangeGradient;
    opacity: 0.9;

    content: '';
  }

  @media screen and (max-width: $small-desktop) {
    padding: 30px 0 50px;
  }

  @media screen and (max-width: $big-tablet) {
    padding: 19px 0 20px;
  }

  @media screen and (max-width: $mobile) {
    padding: 20px 0;
  }

  // .feed__container

  &__container {
    @media screen and (max-width: $big-tablet) and (min-width: $medium-mobile) {
      max-width: none;
      padding: 0;
    }
  }

  // .feed__content

  &__content {
    position: relative;
    z-index: 2;

    padding: 41px 59px 59px 99px;

    background: $frostedGlassWhite;
    border-radius: 25px;

    @media screen and (max-width: $small-desktop) {
      padding: 30px 48px 50px 49px;

      border-radius: 20px;
    }

    @media screen and (max-width: $big-tablet) {
      padding: 10px 20px 60px;
    }

    @media screen and (max-width: $mobile) {
      padding: 21px 0 40px;
    }
  }

  // .feed__title

  &__title {
    margin-bottom: 30px;
    padding-right: 40px;

    @include h2Font;
    text-align: center;
    color: $orangeColor;

    @media screen and (max-width: $small-desktop) {
      margin-bottom: 22px;
      padding-right: 0;
    }

    @media screen and (max-width: $tablet) and (min-width: $medium-mobile) {
      margin-bottom: 21px;

      font-size: 42px;
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 10px;
    }
  }

  // .feed__subtitle

  &__subtitle {
    margin-bottom: 40px;

    @include subtitleFont;

    @media screen and (max-width: $small-desktop) {
      margin-bottom: 20px;
    }

    @media screen and (max-width: $tablet) {
      font-size: 22px;
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 21px;
      padding: 0 3px;

      font-size: 18px;
      text-align: center;
    }
  }

  // .feed__label

  &__label {
    margin-bottom: 10px;

    font-weight: 500;
    line-height: 130%;

    @media screen and (max-width: $small-desktop) {
      max-width: 813px;
    }

    @media screen and (max-width: $mobile) {
      display: none;
    }
  }

  // .feed__text

  &__text {
    max-width: 863px;
    margin-bottom: 60px;

    line-height: 130%;

    @media screen and (max-width: $small-desktop) {
      margin-bottom: 41px;
    }

    @media screen and (max-width: $tablet) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: $mobile) {
      display: none;
    }
  }

  // .feed__link

  &__link {
    position: relative;

    transition: color 0.3s ease 0s;

    &::before {
      position: absolute;
      bottom: -3px;
      left: 0;

      width: 100%;
      height: 100%;

      border-bottom: 1px solid $orangeColor;

      transition: border-bottom 0.3s ease 0s;

      content: '';

      @media screen and (max-width: $small-desktop) {
        bottom: -1px;
      }
    }

    &:hover {
      color: $orangeColor;
    }

    &:active {
      color: $green;

      transition: color 0s ease 0s;

      &::before {
        border-color: $green;

        transition: border-color 0s ease 0s;
      }
    }
  }

  // .feed__cards

  &__cards {
    margin-bottom: 62px;
    padding-right: 40px;

    @media screen and (max-width: $small-desktop) {
      margin: 0 1px 71px 0;
      padding-right: 0;
    }

    @media screen and (max-width: $tablet) {
      margin-bottom: 41px;
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 29px;
    }
  }

  // .feed__row

  &__row {
    display: grid;
    padding-right: 40px;

    @media screen and (max-width: $small-desktop) {
      padding-right: 0;
    }
  }

  // .feed__button

  &__button {
    justify-self: center;

    @extend %roundedButton;
  }
}

.cards-feed {
  display: grid;
  justify-items: center;
  gap: 40px;

  @media screen and (max-width: $small-desktop) {
    gap: 39px;
  }

  @media screen and (max-width: $tablet) {
    gap: 19px;
  }

  // .cards-feed__title

  &__title {
    @include h3Font;
  }

  // .cards-feed__list

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 130px;

    @media screen and (max-width: $big-tablet) {
      gap: 20px 42px;
    }

    @media screen and (max-width: $tablet) {
      margin-right: 11px;
    }

    @media screen and (max-width: $big-mobile) {
      flex-direction: column;
    }

    @media screen and (max-width: $mobile) {
      margin-right: 0;
    }
  }

  // .cards-feed__item

  &__item {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 168px;

    &::before {
      position: absolute;
      top: 61px;
      left: -100px;

      font-size: 36px;

      &:nth-child(3n - 2) {
        display: none;
      }

      @media screen and (max-width: $big-tablet) {
        top: -17px;
        left: -75px;
        z-index: 3;

        font-size: 29px;

        color: $green;
      }

      @media screen and (max-width: $big-mobile) {
        top: -50px;
        left: 140px;

        transform: rotate(84deg);
      }
    }

    &:nth-child(3n - 2) {
      &::before {
        display: none;
      }
    }

    @media screen and (max-width: $mobile) {
      gap: 10px;
    }
  }

  // .cards-feed__picture

  &__picture {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 168px;
    padding: 22px;

    background: $orange;
    border-radius: 5px;

    &::before {
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px;

      background-color: $white;
      border-radius: 5px;

      content: '';
    }
  }

  // .cards-feed__icon

  &__icon {
    position: relative;
    z-index: 2;

    &_padding-top {
      padding-top: 5px;
    }
  }

  // .cards-feed__text

  &__text {
    @include bodyFont;

    @media screen and (max-width: $mobile) {
      min-height: 44px;
      padding-bottom: 9px;
    }
  }
}

.testimonials {
  // .testimonials__container

  &__container {
    display: grid;
  }

  // .testimonials__title

  &__title {
    margin-bottom: 47px;

    @include h3Font;
    text-align: center;

    @media screen and (max-width: $small-desktop) {
      margin-bottom: 29px;
      padding-top: 1px;
    }

    @media screen and (max-width: $tablet) {
      margin-right: 4px;
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 19px;
      margin-right: 0;
    }
  }

  // .testimonials__slider

  &__slider {
    display: grid;
    gap: 21px;
    margin-bottom: 31px;

    @media screen and (max-width: $small-desktop) {
      margin-bottom: 51px;
    }

    @media screen and (max-width: $tablet) {
      margin-bottom: 40px;
    }

    @media screen and (max-width: $mobile) {
      margin-bottom: 29px;
    }
  }

  // .testimonials__swiper

  &__swiper {
    display: flex;
    gap: 15px 30px;

    @media screen and (max-width: $big-tablet) {
      flex-direction: column;
    }
  }

  // .testimonials__slide

  &__slide {
    @media screen and (max-width: $desktop) {
      &._hide {
        display: none;
      }
    }
  }

  // .testimonials__row

  &__row {
    @media screen and (max-width: $small-desktop) {
      padding-right: 12px;
    }

    @media screen and (max-width: $big-tablet) {
      display: none;
    }
  }

  // .testimonials__slipper

  &__slipper {
    position: relative;

    width: 599px;
    height: 8px;
    margin: 0 auto;

    background: $pinkGradient;
    border-radius: 5px;

    &::before {
      position: absolute;
      top: 0.5px;
      right: 0.5px;
      bottom: 0.5px;
      left: 0.5px;

      background-color: $light;
      border-radius: 5px;

      content: '';
    }

    @media screen and (max-width: $small-desktop) {
      width: 390px;
    }
  }

  // .testimonials__toggler

  &__toggler {
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 0;

    width: 115px;

    background-color: $orangeColor;
    border-radius: 5px;
    cursor: pointer;

    transition: background-color 0.3s ease 0s;

    @media screen and (max-width: $small-desktop) {
      width: 75px;
    }

    &:hover {
      background-color: $orangeHover;
    }
  }

  // .testimonials__button

  &__button {
    justify-self: start;

    @extend %squareButton;

    @media screen and (max-width: $tablet) {
      justify-self: center;
      min-width: 240px;
    }
  }
}

.slide-testimonials {
  position: relative;

  max-width: 268px;
  max-height: 391px;
  padding: 15px 14.5px 19px 16px;

  background: $pinkGradient;
  border-radius: 20px;
  overflow: hidden;

  @media screen and (max-width: $desktop) {
    max-width: none;
  }

  @media screen and (max-width: $small-desktop) {
    padding: 15px 14.5px 41px 16px;
  }

  @media screen and (max-width: $big-tablet) {
    max-height: 109px;
    padding: 15px 29px 8px 12px;
  }

  @media screen and (max-width: $mobile) {
    padding: 10px 29px 12px 12px;
  }

  &::before {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;

    background-color: $grayLight;
    border-radius: 20px;

    content: '';

    @media screen and (max-width: $small-desktop) {
      background-color: $light;
    }
  }

  // .slide-testimonials__header

  &__header {
    position: relative;

    display: grid;
    grid-template-columns: 37px auto;
    gap: 1px 10px;

    @media screen and (max-width: $mobile) {
      gap: 1px 6px;
    }
  }

  // .slide-testimonials__picture

  &__picture {
    grid-row: span 2;

    max-height: 37px;

    border-radius: 50%;
    overflow: hidden;
  }

  // .slide-testimonials__icon

  &__icon {
    width: 100%;
    height: 100%;
  }

  // .slide-testimonials__name

  &__name {
    line-height: 120%;
    color: $black;

    @media screen and (max-width: $mobile) {
      padding-top: 1px;
    }
  }

  // .slide-testimonials__info

  &__info {
    display: flex;
    gap: 6px;
    margin-bottom: 10px;

    @include smallParagraphFont;
    color: $grayTwo;

    @media screen and (max-width: $mobile) {
      gap: 5px;
    }
  }

  // .slide-testimonials__place

  &__place {
  }

  // .slide-testimonials__decor

  &__decor {
  }

  // .slide-testimonials__time

  &__time {
  }

  // .slide-testimonials__content

  &__content {
    max-height: 308px;

    overflow: hidden;

    @media screen and (max-width: $small-desktop) {
      max-height: 287px;
    }

    @media screen and (max-width: $big-tablet) {
      max-height: 38px;
    }
  }

  // .slide-testimonials__text

  &__text {
    position: relative;

    @include smallParagraphFont;
    color: $gray;

    @media screen and (max-width: $tablet) {
      margin-left: 6px;
    }
  }
}
