* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #333b41;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

input,
button,
textarea {
  font-family: 'Roboto', sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Light.woff2') format('woff2'), url('../../assets/fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Bold.woff2') format('woff2'), url('../../assets/fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Medium.woff2') format('woff2'), url('../../assets/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Regular.woff2') format('woff2'), url('../../assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Thin.woff2') format('woff2'), url('../../assets/fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'icons';
  src: url('../../assets/iconsfont/icons.eot?z61rwy');
  src: url('../../assets/iconsfont/icons.eot?z61rwy#iefix') format('embedded-opentype'), url('../../assets/iconsfont/icons.ttf?z61rwy') format('truetype'), url('../../assets/iconsfont/icons.woff?z61rwy') format('woff'), url('../../assets/iconsfont/icons.svg?z61rwy#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^='_icon-']::before,
[class*=' _icon-']::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-curved-arrow::before {
  content: '\e908';
}

._icon-x::before {
  content: '\e900';
}

._icon-hollow-arrow::before {
  content: '\e901';
}

._icon-facebook::before {
  content: '\e902';
}

._icon-instagram::before {
  content: '\e903';
}

._icon-twitter::before {
  content: '\e904';
  font-size: 14px;
}

._icon-youtube::before {
  content: '\e905';
  font-size: 13px;
}

._icon-dollar::before {
  content: '\e906';
}

._icon-bamboo::before {
  content: '\e907';
}

html._menu-open,
html._popup-open {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}

[class*='__container'] {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (max-width: 1000px) {
  [class*='__container'] {
    max-width: 970px;
  }
}
@media screen and (max-width: 640px) {
  [class*='__container'] {
    max-width: 630px;
  }
}
@media screen and (max-width: 320px) {
  [class*='__container'] {
    max-width: 320px;
    padding: 0 11px;
  }
}

[class*='_ibg'] {
  position: relative;
}
[class*='_ibg'] img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.form-feed__button {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 298px;
  padding: 16px 16px 16px 20px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 639.98px) {
  .form-feed__button {
    min-width: 250px;
  }
}
@media screen and (max-width: 320px) {
  .form-feed__button {
    min-width: 298px;
  }
}
.form-feed__button::before,
.form-feed__button::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  content: '';
}
.form-feed__button::before {
  background-color: #e47209;
  transition: background-color 0.3s ease 0s;
}
.form-feed__button::after {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  opacity: 1;
  transition: opacity 0.3s ease 0s;
}
.form-feed__button:hover::after {
  opacity: 0;
}
.form-feed__button:active::before {
  background-color: #4b9200;
  transition: background-color 0s ease 0s;
}
.form-feed__button:disabled {
  cursor: default;
}
.form-feed__button:disabled::before {
  background-color: #767474;
}
.form-feed__button:disabled::after {
  opacity: 0;
}

.footer__button {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 298px;
  padding: 16px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__button::before,
.footer__button::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  content: '';
}
.footer__button::before {
  background-color: #e47209;
  transition: background-color 0.3s ease 0s;
}
.footer__button::after {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  opacity: 1;
  transition: opacity 0.3s ease 0s;
}
.footer__button:hover::after {
  opacity: 0;
}
.footer__button:active::before {
  background-color: #4b9200;
  transition: background-color 0s ease 0s;
}
.footer__button:disabled {
  cursor: default;
}
.footer__button:disabled::before {
  background-color: #767474;
}
.footer__button:disabled::after {
  opacity: 0;
}

.form-footer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 129px;
  padding: 8px 10px;
  line-height: 140%;
  color: #d31414;
  background-color: #f1f3f2;
  border: 1px solid #d31414;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
form:valid .form-footer__button {
  color: #000000;
  border-color: #333b41;
}
form:valid .form-footer__button:active {
  color: #4b9200;
  border-color: #4b9200;
  transition: all 0s ease 0s;
}
.form-footer__button:active {
  color: #4b9200;
  border-color: #4b9200;
  transition: all 0s ease 0s;
}

.close-button {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-right: -2px;
  margin-left: auto;
  padding: 2px 2px 5px 2px;
}
.close-button__line {
  position: relative;
  top: 0;
  bottom: 0;
  flex: 0 0 2px;
  width: 18px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 2px;
  transition: all 0.3s ease 0s;
  background-color: #fe9013;
}
.close-button__line:first-child {
  top: 4px;
  bottom: -4px;
  transform: rotate(-40deg);
}
.close-button__line:nth-child(2) {
  transform: scale(0);
}
.close-button__line:last-child {
  top: -4px;
  bottom: 4px;
  transform: rotate(40deg);
}

.popup-button {
  position: fixed;
  top: -8px;
  right: -26px;
  z-index: 99;
  width: 14px;
  height: 14px;
  background: url('/assets/icons/x-icon.svg') center/cover no-repeat;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 400px) {
  .popup-button {
    right: -16px;
  }
}

.footer__main-link,
.header__main-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  min-height: 52px;
  padding-top: 2.55px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  -webkit-background-clip: text;
  background-clip: text;
  transition: color 0.3s ease 0s;
}
.footer__main-link:hover,
.header__main-link:hover {
  color: rgba(255, 255, 255, 0);
}
.footer__main-link::before,
.header__main-link::before {
  position: absolute;
  left: 13.2073170732%;
  bottom: 16.9038461538%;
  color: #ffffff;
  transform: scale(1.2);
}
@media screen and (max-width: 640px) {
  .footer__main-link,
  .header__main-link {
    width: 46px;
    min-height: 29px;
    padding: 0;
    border: none;
  }
  .footer__main-link::before,
  .header__main-link::before {
    left: 8.6956521739%;
    bottom: 13.7931034483%;
    font-weight: 300;
    font-size: 11px;
  }
}

.footer__logo,
.header__logo {
  font-size: 19.0145px;
  line-height: 120%;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .footer__logo,
  .header__logo {
    font-weight: 300;
    font-size: 12px;
  }
}

.footer__link,
.header__link {
  font-weight: 500;
  line-height: 140%;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  -webkit-background-clip: text;
  background-clip: text;
  transition: color 0.3s ease 0s;
}
.footer__link:hover,
.header__link:hover {
  color: rgba(255, 255, 255, 0);
}
._active.footer__link,
._active.header__link {
  color: rgba(255, 255, 255, 0);
  cursor: default;
}
@media screen and (max-width: 640px) {
  .footer__link,
  .header__link {
    font-weight: 400;
  }
}

.header {
  padding: 14px 0;
  color: #ffffff;
  background-color: #000000;
}
@media screen and (max-width: 1000px) {
  .header {
    background-color: #111115;
  }
  .header::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease 0s;
    content: '';
  }
  ._menu-open .header::before {
    opacity: 1;
  }
  .header._visible::before {
    visibility: visible;
  }
}
@media screen and (max-width: 640px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    padding: 3px 0 2px 0;
  }
}
.header__container {
  display: flex;
  align-items: center;
  gap: 25px 63px;
}
@media screen and (max-width: 640px) {
  .header__container {
    min-height: 29px;
  }
}
._menu-open .header__main-link {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 50;
  width: 66px;
  min-height: 42px;
  color: #fe9013;
  border: 1px solid #fe9013;
}
._menu-open .header__main-link::before {
  bottom: 5.6px;
  left: 7.7px;
  font-size: 14px;
  color: #fe9013;
}
._menu-open .header__logo {
  font-weight: 400;
  font-size: 15px;
}
.header__navigation {
  flex: 1 1 auto;
}
@media screen and (max-width: 640px) {
  .header__navigation {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    transition: top 0.3s ease 0s;
  }
  ._menu-open .header__navigation {
    top: 0;
  }
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 58px;
}
@media screen and (max-width: 1000px) {
  .header__list {
    gap: 15px 48px;
  }
}
@media screen and (max-width: 640px) {
  .header__list {
    flex-direction: column;
    padding: 82px 10px 40px;
    color: #333b41;
    background-color: #ffffff;
  }
}
.header__item:last-child {
  margin-left: auto;
}
@media screen and (max-width: 640px) {
  .header__item:last-child {
    margin-left: 0;
  }
}
.header__menu {
  display: none;
}
@media screen and (max-width: 640px) {
  .header__menu {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-right: -2px;
    margin-left: auto;
    padding: 2px 2px 5px 2px;
  }
}
@media screen and (max-width: 320px) {
  .header__menu {
    padding: 4px 1px 5px 5px;
  }
}
.header__line {
  position: relative;
  top: 0;
  bottom: 0;
  flex: 0 0 2px;
  width: 18px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 2px;
  transition: all 0.3s ease 0s;
}
._menu-open .header__line {
  background-color: #fe9013;
}
._menu-open .header__line:first-child {
  top: 4px;
  bottom: -4px;
  transform: rotate(-40deg);
}
._menu-open .header__line:nth-child(2) {
  transform: scale(0);
}
._menu-open .header__line:last-child {
  top: -4px;
  bottom: 4px;
  transform: rotate(40deg);
}

.footer {
  position: relative;
  z-index: 2;
  padding: 40px 0 50px;
  color: #ffffff;
  background-color: #111115;
}
@media screen and (max-width: 640px) {
  .footer {
    padding: 12px 0 11px;
  }
}
@media screen and (max-width: 639.98px) {
  .footer {
    padding: 20px 0;
  }
}
.footer__container {
  display: grid;
  grid-template-columns: 300px auto 367px;
  align-items: end;
  gap: 36px 32px;
}
@media screen and (max-width: 1599.98px) {
  .footer__container {
    grid-template-columns: 200px auto 285px;
  }
}
@media screen and (max-width: 999.98px) and (min-width: 639.98px) {
  .footer__container {
    grid-template-columns: 351px auto;
    grid-template-rows: 52px;
    gap: 32px 20px;
  }
}
@media screen and (max-width: 639.98px) {
  .footer__container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px 20px;
  }
}
.footer__main-link {
  align-self: start;
  border-width: 0.5px;
  border-color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 640px) {
  .footer__main-link {
    width: 82px;
    min-height: 52px;
    margin: 1px 0 0 1px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .footer__main-link::before {
    left: 13.2073170732%;
    bottom: 16.9038461538%;
    font-size: 15px;
  }
}
@media screen and (max-width: 639.98px) {
  .footer__main-link {
    width: auto;
    min-height: 0;
    margin: 0;
    border: none;
  }
  .footer__main-link::before {
    left: 73px;
    bottom: 7px;
  }
}
@media screen and (max-width: 640px) {
  .footer__logo {
    font-size: 19px;
  }
}
.footer__form {
  grid-column: span 2;
  justify-self: end;
  max-width: 367px;
}
@media screen and (max-width: 1000px) {
  .footer__form {
    margin-right: 32px;
  }
}
@media screen and (max-width: 999.98px) {
  .footer .footer__form {
    display: none;
  }
}
.footer__button {
  z-index: 1;
  grid-column: span 3;
  justify-self: start;
  margin-bottom: 8px;
}
@media screen and (max-width: 999.98px) {
  .footer__button {
    grid-column: span 1;
    align-self: start;
    order: 2;
  }
}
@media screen and (max-width: 639.98px) {
  .footer__button {
    justify-self: center;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 999.98px) and (min-width: 639.98px) {
  .footer__socials {
    grid-row: span 2;
    justify-self: end;
    align-self: start;
    order: 1;
  }
}
@media screen and (max-width: 640px) and (min-width: 639.98px) {
  .footer__socials {
    margin-bottom: 11px;
  }
}
@media screen and (min-width: 999.98px) {
  .footer__navigation {
    justify-self: end;
  }
}
@media screen and (max-width: 999.98px) {
  .footer__navigation {
    order: 3;
  }
}
@media screen and (max-width: 639.98px) {
  .footer__navigation {
    order: 5;
  }
}
.footer__list {
  display: flex;
  align-items: center;
  gap: 20px 58px;
}
@media screen and (max-width: 1000px) {
  .footer__list {
    gap: 20px 48px;
  }
}
@media screen and (max-width: 640px) {
  .footer__list {
    margin-left: 1px;
    gap: 20px 37px;
  }
}
@media screen and (max-width: 639.98px) {
  .footer__list {
    margin-left: 0;
    gap: 20px 30px;
  }
}
@media screen and (max-width: 1000px) {
  .footer__link {
    font-weight: 400;
  }
}
.footer__designer {
  justify-self: end;
  display: grid;
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.footer__designer:hover {
  text-decoration: underline;
}
.footer__designer:active {
  color: #4b9200;
}
@media screen and (max-width: 999.98px) {
  .footer__designer {
    order: 4;
  }
}
@media screen and (max-width: 639.98px) {
  .footer__designer {
    justify-self: center;
  }
}
@media screen and (max-width: 320px) {
  .footer__designer {
    justify-self: end;
    font-size: 15px;
  }
}
.footer__text {
  font-weight: 100;
  line-height: 130%;
}

.form-footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 14px 10px;
}
.form-footer__title {
  grid-column: span 2;
  font-size: 24px;
  line-height: 120%;
}
.form-footer__field {
  width: 228px;
  height: 42px;
  padding: 1px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 2px;
}
.form-footer__field._active {
  background: #4b9200;
}
.form-footer:invalid .form-footer__field {
  background: #d31414;
}
.form-footer:invalid .form-footer__field._default {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
.form-footer__input {
  width: 100%;
  height: 100%;
  padding: 10px;
  line-height: 140%;
  color: inherit;
  background: #111115;
}
.form-footer__input:focus {
  outline: none;
}
.form-footer__input::-moz-placeholder {
  color: #bdbdbd;
}
.form-footer__input:-ms-input-placeholder {
  color: #bdbdbd;
}
.form-footer__input::placeholder {
  color: #bdbdbd;
}
.socials-footer {
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 639.98px) {
  .socials-footer {
    flex-direction: column;
  }
}
@media screen and (max-width: 640px) {
  .socials-footer {
    gap: 20px;
  }
}
@media screen and (max-width: 639.98px) {
  .socials-footer {
    gap: 30px;
  }
}
.socials-footer__link {
  display: flex;
  align-items: flex-end;
  -moz-column-gap: 12px;
  column-gap: 12px;
}
.socials-footer__link:hover .socials-footer__text {
  text-decoration: underline;
}
.socials-footer__link:active .socials-footer__icon {
  background-color: #4b9200;
}
.socials-footer__link:active .socials-footer__text {
  text-decoration: none;
  color: #4b9200;
}
.socials-footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  text-decoration: none;
}
.socials-footer__text {
  line-height: 140%;
}
@media screen and (max-width: 640px) {
  .socials-footer__text {
    display: none;
  }
}

.main__picture {
  margin-top: -4px;
  padding-bottom: 390px;
}
@media screen and (max-width: 1000px) {
  .main__picture {
    margin-top: 0;
  }
}
@media screen and (max-width: 999.98px) {
  .main__picture {
    padding-bottom: 335px;
  }
}
@media screen and (max-width: 640px) {
  .main__picture {
    margin-top: 34px;
  }
}
@media screen and (max-width: 639.98px) {
  .main__picture {
    padding-bottom: 187px;
  }
}
.main__image {
  z-index: -1;
}
@media screen and (max-width: 1000px) and (min-width: 999.98px) {
  .main .main__image {
    left: -17.2%;
    width: auto;
  }
}
@media screen and (max-width: 640px) {
  .main .main__image {
    left: -42.5%;
    z-index: 0;
    width: auto;
  }
}
@media screen and (max-width: 639.98px) {
  .main .main__image {
    left: -20%;
  }
}
@media screen and (max-width: 400px) {
  .main .main__image {
    left: -46.25%;
  }
}
.main__body {
  display: grid;
  gap: 59px;
  padding: 40px 0 180px;
  color: #ffffff;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
}
@media screen and (max-width: 1000px) {
  .main__body {
    gap: 38px;
    padding: 41px 0 30px;
  }
}
@media screen and (max-width: 640px) {
  .main__body {
    gap: 29px;
    padding: 31px 0 46px;
  }
}
@media screen and (max-width: 320px) {
  .main__body {
    padding: 31px 0 21px;
  }
}

@media screen and (max-width: 320px) {
  .info__container {
    padding: 0 10px;
  }
}
.info__title {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 130%;
}
@media screen and (max-width: 320px) {
  .info__title {
    font-size: 24px;
    line-height: 120%;
  }
}
@media screen and (max-width: 1000px) {
  .info__title {
    max-width: 778px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 640px) and (min-width: 320px) {
  .info__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 120%;
  }
}
.info__text {
  margin-bottom: 46px;
  line-height: 140%;
}
@media screen and (max-width: 640px) {
  .info__text {
    margin-bottom: 28px;
  }
}
@media screen and (max-width: 320px) {
  .info__text {
    margin-bottom: 25px;
  }
}
.info__bold {
  font-weight: 500;
  white-space: pre-wrap;
}
.info__subtitle {
  font-size: 36px;
  line-height: 130%;
  color: #fe9013;
}
@media screen and (max-width: 320px) {
  .info__subtitle {
    font-size: 24px;
    line-height: 120%;
  }
}
@media screen and (max-width: 400px) {
  .info__subtitle {
    font-size: 24px;
    line-height: 120%;
  }
}

@media screen and (max-width: 400px) {
  .feed__container {
    padding: 0 10px;
  }
}
.feed__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 92px 62px;
  background-color: rgba(255, 255, 255, 0.52);
  border-radius: 20px;
  color: #333b41;
}
@media screen and (max-width: 1599.98px) {
  .feed__body {
    padding: 20px 44px 45px 47px;
  }
}
@media screen and (max-width: 840px) {
  .feed__body {
    padding: 30px 0;
  }
}
@media screen and (max-width: 320px) {
  .feed__body {
    padding: 21px 0 19px;
  }
}
.feed__title {
  margin: 0 20px 13px 0;
  font-size: 48px;
  line-height: 120%;
  color: #fe9013;
}
@media screen and (max-width: 639.98px) {
  .feed__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 1000px) {
  .feed__title {
    margin: 0 18px 11px 0;
  }
}
@media screen and (max-width: 640px) {
  .feed__title {
    margin: 0 0 21px 1px;
  }
}
@media screen and (max-width: 320px) {
  .feed__title {
    margin: 0 1px 11px 0;
  }
}
.feed__subtitle {
  align-self: start;
  margin-bottom: 60px;
  font-size: 24px;
  line-height: 120%;
}
@media screen and (max-width: 840px) {
  .feed__subtitle {
    padding: 0 10px;
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  .feed__subtitle {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 400px) {
  .feed__subtitle {
    font-size: 16px;
    line-height: 140%;
  }
}
@media screen and (max-width: 320px) {
  .feed__subtitle {
    margin-bottom: 10px;
    padding: 0;
  }
}
.feed__media-block {
  display: flex;
  gap: 30px 89px;
  margin: 0 14px 48px 0;
}
@media screen and (max-width: 1000px) {
  .feed__media-block {
    margin: 0 18px 48px 0;
  }
}
@media screen and (max-width: 640px) {
  .feed__media-block {
    margin: 0 18px 41px 0;
  }
}
@media screen and (max-width: 639.98px) {
  .feed__media-block {
    gap: 20px 36px;
    margin: 0 13px 41px 0;
  }
}
@media screen and (max-width: 320px) {
  .feed__media-block {
    justify-content: space-between;
    margin: 0 13px 4px 0;
  }
}
.feed__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  padding-top: 105px;
}
@media screen and (max-width: 639.98px) {
  .feed__content {
    padding-top: 58px;
  }
}
@media screen and (max-width: 639.98px) {
  .feed__content {
    gap: 8px;
  }
}
.feed__content::before {
  position: absolute;
  top: 130px;
  right: -11px;
  font-size: 14px;
  transform: translate(100%, 0);
}
@media screen and (max-width: 639.98px) {
  .feed__content::before {
    top: 73px;
    right: -5px;
    font-size: 8px;
  }
}
.feed__count {
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  text-transform: uppercase;
  color: #000000;
}
@media screen and (max-width: 639.98px) {
  .feed__count {
    font-size: 40px;
  }
}
.feed__text {
  line-height: 140%;
}
.feed__text_margin {
  margin-left: 5px;
}
@media screen and (max-width: 1000px) {
  .feed__text_margin {
    margin-left: 0;
  }
}
@media screen and (max-width: 320px) {
  .feed__text_margin {
    margin-right: -1px;
  }
}
@media screen and (max-width: 400px) {
  .feed__text_small {
    font-size: 9px;
  }
}
.feed__picture {
  display: flex;
  align-items: flex-end;
  width: 284px;
  height: 246px;
  overflow: hidden;
}
@media screen and (max-width: 639.98px) {
  .feed__picture {
    width: 160px;
    height: 138px;
  }
}
.feed__image {
  max-width: 100%;
  max-height: 100%;
}
.feed__form {
  margin-bottom: 30px;
}
@media screen and (max-width: 1000px) and (min-width: 840px) {
  .feed__form {
    margin-right: 4px;
  }
}

.form-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.form-feed__text {
  align-self: flex-start;
  margin: 0 0 10px 4px;
  line-height: 140%;
  color: #000000;
}
@media screen and (max-width: 1599.98px) {
  .form-feed__text {
    align-self: center;
    width: 810px;
  }
}
@media screen and (max-width: 1000px) {
  .form-feed__text {
    margin: 0 0 9px 0;
  }
}
@media screen and (max-width: 999.98px) {
  .form-feed__text {
    width: 680px;
  }
}
@media screen and (max-width: 840px) {
  .form-feed__text {
    width: 600px;
  }
}
@media screen and (max-width: 640px) {
  .form-feed__text {
    padding: 0 10px;
    margin: 0 0 -1px 0;
  }
}
@media screen and (max-width: 639.98px) {
  .form-feed__text {
    width: 370px;
  }
}
@media screen and (max-width: 400px) {
  .form-feed__text {
    width: 300px;
    margin: 0;
    padding: 0;
  }
}
.form-feed__range {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}
@media screen and (max-width: 1599.98px) {
  .form-feed__range {
    max-width: 810px;
  }
}
@media screen and (max-width: 999.98px) {
  .form-feed__range {
    max-width: 680px;
  }
}
@media screen and (max-width: 840px) {
  .form-feed__range {
    max-width: 600px;
  }
}
@media screen and (max-width: 640px) {
  .form-feed__range {
    width: 100%;
  }
}
@media screen and (max-width: 639.98px) {
  .form-feed__range {
    max-width: 370px;
  }
}
@media screen and (max-width: 400px) {
  .form-feed__range {
    max-width: 300px;
  }
}
@media screen and (max-width: 320px) {
  .form-feed__range {
    margin-bottom: 25px;
  }
}
.form-feed__range::before {
  position: absolute;
  top: 7px;
  left: 0;
  width: 100%;
  height: 27px;
  background-color: #404950;
  border-radius: 2px;
  content: '';
}
@media screen and (max-width: 400px) {
  .form-feed__range::before {
    height: 13px;
    border-radius: 1px;
  }
}
.form-feed__range::after {
  position: absolute;
  top: 19px;
  right: 30px;
  left: 30px;
  height: 2px;
  background-color: #72828e;
  content: '';
}
@media screen and (max-width: 1599.98px) {
  .form-feed__range::after {
    right: 16px;
    left: 16px;
  }
}
@media screen and (max-width: 840px) {
  .form-feed__range::after {
    right: 41px;
    left: 41px;
  }
}
@media screen and (max-width: 639.98px) {
  .form-feed__range::after {
    right: 17px;
    left: 17px;
  }
}
@media screen and (max-width: 400px) {
  .form-feed__range::after {
    top: 13px;
    height: 1px;
    background-color: #72828e;
  }
}
.form-feed__item {
  position: relative;
  z-index: 2;
  display: grid;
  padding-top: 15px;
}
@media screen and (max-width: 400px) {
  .form-feed__item {
    padding-top: 11.5px;
  }
}
.form-feed__dot {
  position: relative;
  width: 10px;
  height: 10px;
  margin: 0 94px 21px 26px;
  background-color: #ffee2e;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (max-width: 1599.98px) {
  .form-feed__dot {
    margin: 0 109px 21px 11px;
  }
}
@media screen and (max-width: 840px) {
  .form-feed__dot {
    margin: 0 85px 21px 35px;
  }
}
@media screen and (max-width: 639.98px) {
  .form-feed__dot {
    margin: 0 55px 13px 17px;
  }
}
@media screen and (max-width: 400px) {
  .form-feed__dot {
    width: 5px;
    height: 5px;
    margin: 0 44px 13px 17px;
  }
}
@media screen and (max-width: 320px) {
  .form-feed__dot {
    margin: 0 44px 10px 17px;
  }
}
.form-feed__dot::before,
.form-feed__dot::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  content: '';
}
._transform .form-feed__dot::before,
._transform .form-feed__dot::after {
  transform: translate(-50%, -50%) scale(0);
}
[data-active] .form-feed__dot::before,
[data-active] .form-feed__dot::after {
  border-color: #fe9013;
  transform: translate(-50%, -50%) scale(1);
}
@media screen and (max-width: 400px) {
  .form-feed__dot::before,
  .form-feed__dot::after {
    border-width: 1px;
    transform: translate(-53%, -53%) scale(1);
  }
  [data-active] .form-feed__dot::before,
  [data-active] .form-feed__dot::after {
    border-color: #fe9013;
    transform: translate(-53%, -53%) scale(1);
  }
}
.form-feed__dot::before {
  width: 23px;
  height: 23px;
  transition: transform 0.3s ease 0.1s;
}
@media screen and (max-width: 400px) {
  .form-feed__dot::before {
    width: 11px;
    height: 11px;
  }
}
.form-feed__dot::after {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease 0s;
}
@media screen and (max-width: 400px) {
  .form-feed__dot::after {
    width: 20px;
    height: 20px;
  }
}
.form-feed__amount {
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
}
@media screen and (max-width: 840px) {
  .form-feed__amount {
    margin-left: 17px;
  }
}
@media screen and (max-width: 639.98px) {
  .form-feed__amount {
    margin-left: 0;
    font-size: 20px;
  }
}
@media screen and (max-width: 320px) {
  .form-feed__amount {
    margin-left: 8px;
    font-size: 13px;
  }
}
.form-feed__amount::before {
  margin-right: 2px;
  font-size: 20px;
}
@media screen and (max-width: 639.98px) {
  .form-feed__amount::before {
    font-size: 15px;
  }
}
@media screen and (max-width: 320px) {
  .form-feed__amount::before {
    margin-right: 1px;
    font-size: 10px;
  }
}
[data-active] .form-feed__amount {
  color: #fe9013;
  transition: color 0.3s ease 0s;
}
.form-feed__input {
  position: relative;
  width: 268px;
  margin-bottom: 25px;
}
@media screen and (max-width: 1000px) {
  .form-feed__input {
    margin-bottom: 26px;
  }
}
@media screen and (max-width: 640px) {
  .form-feed__input {
    width: 180px;
    margin-bottom: 31px;
  }
}
@media screen and (max-width: 320px) {
  .form-feed__input {
    margin: 0 0 25px 1px;
  }
}
.form-feed__input::before {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 20px;
  color: #929699;
  transform: translate(0, -50%);
}
.form-feed__input._active::before {
  color: #4b9200;
}
.form-feed__input._mistake::before {
  color: #d31414;
}
.form-feed__price-field {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 15px 30px 14px 8px;
  line-height: 140%;
  background-color: transparent;
  border: 1px solid #929699;
  border-radius: 2px;
  -moz-appearance: textfield;
}
@media screen and (max-width: 640px) {
  .form-feed__price-field {
    padding: 9px 30px 9px 5px;
  }
}
@media screen and (max-width: 320px) {
  .form-feed__price-field {
    padding: 10px 30px 7px 5px;
  }
}
.form-feed__price-field:focus {
  outline: none;
}
.form-feed__price-field::-moz-placeholder {
  line-height: 140%;
  color: #929699;
}
.form-feed__price-field:-ms-input-placeholder {
  line-height: 140%;
  color: #929699;
}
.form-feed__price-field::placeholder {
  line-height: 140%;
  color: #929699;
}
.form-feed__price-field::-webkit-outer-spin-button,
.form-feed__price-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
._active .form-feed__price-field {
  border-color: #4b9200;
}
._active .form-feed__price-field::-moz-placeholder {
  color: #4b9200;
}
._active .form-feed__price-field:-ms-input-placeholder {
  color: #4b9200;
}
._active .form-feed__price-field::placeholder {
  color: #4b9200;
}
._mistake .form-feed__price-field {
  border-color: #d31414;
}
._mistake .form-feed__price-field::-moz-placeholder {
  color: #d31414;
}
._mistake .form-feed__price-field:-ms-input-placeholder {
  color: #d31414;
}
._mistake .form-feed__price-field::placeholder {
  color: #d31414;
}
.form-feed__frequency {
  display: flex;
  gap: 20px 50px;
  margin: 0 15px 30px 0;
}
@media screen and (max-width: 640px) {
  .form-feed__frequency {
    margin: 0 19px 29px 0;
  }
}
@media screen and (max-width: 320px) {
  .form-feed__frequency {
    margin: 0 20px 28px 0;
  }
}
.form-feed__radio {
  position: fixed;
  left: -1000%;
  opacity: 0;
  visibility: hidden;
}
.form-feed__radio:checked + .form-feed__label::before {
  background-color: #4b9200;
  border-color: #4b9200;
}
.form-feed__label {
  position: relative;
  padding-left: 26px;
  line-height: 140%;
}
.form-feed__label::before {
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid #fe9013;
  border-radius: 50%;
  cursor: pointer;
  content: '';
}
.form-feed__button {
  z-index: 2;
  margin-left: 6px;
  padding-bottom: 15px;
}
@media screen and (max-width: 1000px) {
  .form-feed__button {
    margin-left: 4px;
  }
}
@media screen and (max-width: 320px) {
  .form-feed__button {
    margin: 0 1px;
  }
}
